@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="hero">
    <section id="home" class="home">
        <div class="container" style="padding-bottom:15px;font-family:Barlow;">
            <p style="margin-bottom: -3px;color:darkgray;">Industrial Services</p>
            <h5 style="color: black; font-family:Barlow; font-weight: 600; font-size: 36px; margin-bottom: 20px;">Article</h5>
        </div>


                <div class="container mt-5 mb-5">
                        <div class="row g-2" id="article-list">

                    </div>
            </div>



    </section>
</section>


<footer id="footer" style="color:#ffffff;">

    <div class="footer-top" style="background:#01529C;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Address</h3>
                    <a href="https://maps.app.goo.gl/xG12byCagHAPUSuY9" target="_blank">
                        <p style="color:white;">
                            Cikarang Campus <br>
                            Jl. Gaharu Blok F3 Delta Silicon II Cibatu,<br>
                            South Cikarang, Bekasi Regency, <br>
                            West Java 17530 <br><br>

                        </p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Contacts</h3>
                    <p style="color:white;">
                        <strong>Phone:</strong><a href="https://wa.me/6285156842086" style="color: white; text-decoration: underline;" target="_blank"> +62 888 7765 9821</a><br>
                        <strong>Email:</strong> dpp@@astra.polytechnic.ac.id<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Information</h3>
                    <div class="row">
                        <a>
                            <p style="color:white;">
                                About Industrial Services <br />
                                Astra Polytechnic Main Website <br />
                                Contact
                            </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 d-flex align-items-stretch text-center">
                    <span style="position: relative; left: 50%; transform: translateX(-50%);color:darkgray;">Copyright © 2024 Department Training & Production Astra Polytechnic</span>
                </div>
            </div>
        </div>

    </div>
</footer><!-- End Footer -->


<script>
    loadArtikels();

    function loadArtikels() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllArtikelsDone";
        var method = "GET";

        $('#article-list').empty();

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var articleList = data.data;

                articleList.forEach(function (article) {
                    // Ubah format tanggal
                    var formattedDate = new Date(article.tanggal_rilis).toLocaleDateString('en-US', {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric'
                    });

                    var maxTitleLength = 45; // Set the maximum length for the title

                    // Truncate the title if it exceeds the maximum length
                    var truncatedTitle = article.judul_artikel.length > maxTitleLength ?
                        article.judul_artikel.substring(0, maxTitleLength) + '...' :
                        article.judul_artikel;

                    var articleHtml =
                        '<div class="col-6 col-lg-4 mb-5 mb-md-5">' +
                        '<a class="card-link" class="card-img d-block sk-thumbnail img-ratio-3 rounded-bottom-0" href="/Home/ArtikelDetail?id=' + article.id_artikel + '">' +
                        '<div class="card border rounded-3 sk-fade h-100">' +
                        '<div class="card-zoom position-relative rounded-bottom-0">' +
                        '<img class="shadow-light-lg img-fluid zoom-on-hover" src="/assets/img/' + article.sampul_artikel + '" alt="Article Image" />' +
                        '<div class="card-footer p-3">' +
                        '<h6 class="fw-bolder line-clamp-2 mb-0" style="font-family:Barlow;">' + truncatedTitle + '</h6>' +
                        '<span class="text-muted" style="font-size:14px;font-family:Barlow;">' + formattedDate + '</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</a>' +
                        '</div>';

                    $('#article-list').append(articleHtml);
                });
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }

</script>

<style>
    .card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.8) 80%);
        opacity: 0;
        transition: transform 0.5s ease;
    }

    .card:hover .zoom-on-hover {
        transform: scale(1.05);
        transition: transform 0.5s ease;
    }
</style>