@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Faculty Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="hero">
    <section id="home" class="home">
        <div class="container" style="padding-bottom:15px;">
            <p style="margin-bottom: -3px;color:darkgray;font-family:Barlow;">Industrial Services</p>
            <h5 style="color: black;font-family:Barlow;  font-weight: 600; font-size: 36px; margin-bottom: 20px;">Faculty Member</h5>
            <div class="col-sm-1" style="position:relative;top:30px;left:1040px;">
                <select class="form-select" name="filter" id="filter">
                    <option disabled>Sort:</option>
                    <option value="nama_pengajar">All</option>
                    <option value="Technical">Technical</option>
                    <option value="Non-Technical">Non-Technical</option>
                    <option value="Technical and Non-Technical">Technical & Non-Technical</option>
                </select>
            </div>
        </div>
        <div class="container-md">
        <div class="row">


                        <div class="container mt-5 mb-5">
                            <div class="row g-12">
                                    <div class="row d-flex justify-content-center align-items-center h-100" id="technical-container">


                            </div>
                            </div>
                        </div>
            </div>
        </div>


        </section>
</section>

<footer id="footer" style="color:#ffffff;font-family:Barlow;">

    <div class="footer-top" style="background:#01529C;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Astra Polytechnic</h3>
                    <a href="https://maps.app.goo.gl/xG12byCagHAPUSuY9" target="_blank">
                        <p style="color:white;font-family:Barlow;">
                            <strong>Cikarang Campus</strong> <br>
                            Gaharu Street Block F3 Delta Silicon II, Cibatu,<br>
                            South Cikarang, Bekasi Regency, <br>
                            West Java 17530 <br><br>

                            <strong>Sunter Campus</strong> <br>
                            Astra International Public LLC Complex, Building B,<br>
                            Gaya Motor Raya Street No. 8, Sunter II, <br>
                            Jakarta 14330.<br><br>

                        </p>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Time of Service</h3>
                    <p style="color:white;font-family:Barlow;">
                        Monday - Friday (08:00 - 16:00)
                    </p>

                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Contacts</h3>
                    <p style="color:white;font-family:Barlow;">
                        Call Center : (021) 5022722 <br />
                        WhatsApp : 085156842086 (message only) <br />
                        Email :  dpp@astrapolytechnic.ac.id <br /> <br />
                    </p>
                    <div class="socialmedia" style="gap:15px;">
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: midnightblue; border: none;width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.instagram.com/astrapolytechnic/', '_blank');">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #FF0000; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.youtube.com/c/PolmanAstrachannel', '_blank');">
                            <i class="fab fa-youtube" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #4267B2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.facebook.com/Astrapolytechnic/', '_blank');">
                            <i class="fab fa-facebook-f" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #1DA1F2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://twitter.com/PoliteknikAstra/', '_blank');">
                            <i class="fab fa-twitter" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #25D366; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://api.whatsapp.com/send/?phone=6281295582134', '_blank');">
                            <i class="fab fa-whatsapp" style="font-size: 24px; color: white;"></i>
                        </a>
                    </div>



                    <br />
                    <h3 style="font-family:Barlow;">Information</h3>
                    <div class="row">
                        <a>
                            <p style="color:white;font-family:Barlow;">
                                About Industrial Services <br />
                                Astra Polytechnic Main Website <br />  <br />
                            </p>
                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 d-flex align-items-stretch text-center">
                    <span style="position: relative; left: 50%; transform: translateX(-50%);color:darkgray;font-family:Barlow;">Copyright © 2024 Astra Polytechnic</span>
                </div>
            </div>
        </div>

    </div>
</footer><!-- End Footer -->

<style>
    .socialmedia {
        display: flex;
        position: relative;
    }

        .socialmedia a {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
</style>
<script>
    var filter = "nama_pengajar";
    loadTenagaPengajarTechnical(filter)

    function loadTenagaPengajarTechnical(filter) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllFacultyMembersinWeb";
        var method = "GET";

        // Menambahkan parameter filter dalam URL (contoh: ?filter=nama_pengajar)
        if (filter) {
            url += "?filter=" + filter;
        }

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                // Hapus data sebelumnya dari container
                $('#technical-container').empty();

                var list = data.data;

                if (list.length > 0) {
                    list.forEach(function (pengajar, index) {
                        var newRow = 
                            '<div class="col col-md-9 col-lg-7 col-xl-5" style="padding-bottom:20px;">' +
                            '<div class="card" style="border-radius: 15px; background-color: rgba(0, 0, 0, 0.05); border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);">' +
                            '<div class="card-body p-4">' +
                            '<div class="d-flex text-black">' +
                            '<div class="flex-shrink-0">' +
                            '<img src="/assets/img/' + pengajar.foto_pengajar + '" alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">' +
                            '</div>' +
                            '<div class="flex-grow-1 ms-3">' +
                            '<h5 class="mb-1">' + pengajar.nama_pengajar + '</h5>' +
                            '<p class="mb-2 pb-1" style="color: gray;">' + pengajar.bidang_keahlian + '</p>' +
                            '<div>' +
                            '</div>' +
                            '<div class="d-flex pt-1">' +
                            '<a class="btn btn-primary flex-grow-1" href="/Home/DetailFacultyMember?id=' + pengajar.id_pengajar + '">View Profile</a>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';

                        $('#technical-container').append(newRow);

                       
                    });
                } else {
                    // Tampilkan pesan atau card khusus jika tidak ada data yang ditemukan
                    var noDataCard = '<div class="col-4 text-center">' +
                        '<div class="card" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.5); border:none;">' +
                        '<div class="card-body p-4">' +
                        '<p class="mb-2 pb-1 text-center" style="color: gray;">No data found for the selected filter.</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    $('#technical-container').append(noDataCard);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }


    // Event listener untuk perubahan pada elemen <select>
    $("#filter").change(function () {
        // Panggil fungsi loadTenagaPengajarTechnical saat ada perubahan pada elemen <select>
        var selectedFilter = $(this).val();
        loadTenagaPengajarTechnical(selectedFilter);
    });
</script>