@{
    ViewData["Title"] = "Facilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="hero">
    <section id="home" class="home">
        <div class="container" style="padding-bottom:15px;">
            <p style="margin-bottom: -3px;color:darkgray;font-family:Barlow;">Industrial Services</p>
            <h5 style="color: black; font-weight: 600; font-size: 36px; margin-bottom: 20px;font-family:Barlow;">Facilities</h5>
        </div>
        <div class="container-md">
            <div class="row g-4" id="data-list">



                <div class="col-lg-4">
                    <div class="card" style="background-color: #3498db;">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card" style="background-color: #3498db;">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>

<footer id="footer" style="color:#ffffff;font-family:Barlow;">

    <div class="footer-top" style="background:#01529C;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Astra Polytechnic</h3>
                    <a href="https://maps.app.goo.gl/xG12byCagHAPUSuY9" target="_blank">
                        <p style="color:white;font-family:Barlow;">
                            <strong>Cikarang Campus</strong> <br>
                            Gaharu Street Block F3 Delta Silicon II, Cibatu,<br>
                            South Cikarang, Bekasi Regency, <br>
                            West Java 17530 <br><br>

                            <strong>Sunter Campus</strong> <br>
                            Astra International Public LLC Complex, Building B,<br>
                            Gaya Motor Raya Street No. 8, Sunter II, <br>
                            Jakarta 14330.<br><br>

                        </p>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Time of Service</h3>
                    <p style="color:white;font-family:Barlow;">
                        Monday - Friday (08:00 - 16:00)
                    </p>

                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Contacts</h3>
                    <p style="color:white;font-family:Barlow;">
                        Call Center : (021) 5022722 <br />
                        WhatsApp : 085156842086 (message only) <br />
                        Email :  dpp@astrapolytechnic.ac.id <br /> <br />
                    </p>
                    <div class="socialmedia" style="gap:15px;">
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: midnightblue; border: none;width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.instagram.com/astrapolytechnic/', '_blank');">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #FF0000; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.youtube.com/c/PolmanAstrachannel', '_blank');">
                            <i class="fab fa-youtube" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #4267B2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.facebook.com/Astrapolytechnic/', '_blank');">
                            <i class="fab fa-facebook-f" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #1DA1F2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://twitter.com/PoliteknikAstra/', '_blank');">
                            <i class="fab fa-twitter" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #25D366; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://api.whatsapp.com/send/?phone=6281295582134', '_blank');">
                            <i class="fab fa-whatsapp" style="font-size: 24px; color: white;"></i>
                        </a>
                    </div>



                    <br />
                    <h3 style="font-family:Barlow;">Information</h3>
                    <div class="row">
                        <a>
                            <p style="color:white;font-family:Barlow;">
                                About Industrial Services <br />
                                Astra Polytechnic Main Website <br />  <br />
                            </p>
                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 d-flex align-items-stretch text-center">
                    <span style="position: relative; left: 50%; transform: translateX(-50%);color:darkgray;font-family:Barlow;">Copyright © 2024 Astra Polytechnic</span>
                </div>
            </div>
        </div>

    </div>
</footer><!-- End Footer -->

<style>
    .socialmedia {
        display: flex;
        position: relative;
    }

        .socialmedia a {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
</style>

                <script>
    loadFasilitas();
    function loadFasilitas() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllFasilitasinWeb";
        var method = "GET";

        $('#data-list').empty();

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var dataList = data;

                dataList.forEach(function (fasilitas) {
                    $.ajax({
                        url: hostname + "GetTipeFasilitas?id=" + fasilitas.id_tipe_fasilitas,
                        method: "GET",
                        contentType: "application/json",
                        success: function (tipeFasilitasDetails) {
                            var tipe_fasilitas = tipeFasilitasDetails.tipe_fasilitas;
                            var cardHtml =
                                '<div class="col-xs-12 col-sm-4">' +
                                '<a href="/Home/DetailFasilitas?id=' + fasilitas.id_fasilitas + '"> ' +
                                '<div class="card bg-dark text-white" style="border:none;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">' +
                                '<img src="/assets/img/' + fasilitas.path_foto_fasilitas + '" class="card-img img-fluid" alt="' + fasilitas.nama_fasilitas + '">' +
                                '<div class="card-img-overlay d-flex flex-column">' +
                                '<div class="card-category" style="font-size: 16px; font-weight: bold;">' + tipe_fasilitas + '</div>' +
                                '<div class="card-description flex-grow-1">' +
                                '<h2 class="card-title" style="font-size: 24px; font-weight: bold;">' + fasilitas.nama_fasilitas + '</h2>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</a>' +
                                '</div>';

                            $('#data-list').append(cardHtml);
                        },
                        error: function (xhr, status, error) {
                            console.error("Error:", error);
                        }
                    });
                });
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
                </script>