@{
    ViewData["Title"] = "Technicals Training Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="hero">
    <section id="home" class="home">
        <div class="container" style="padding-bottom:15px;">
            <p style="margin-bottom: -3px;color:darkgray;font-family:Barlow;">Industrial Services</p>
            <h5 style="color: black; font-weight: 600; font-size: 36px; margin-bottom: 20px;font-family:Barlow;">Non-Technicals Calendar Training</h5>
        </div>
        <div class="container-sm">
            <div class="row g-2">
                <!-- Filter Card -->
                <div class="col-lg-3">
                    <div class="card" style="background-color:#013769 ;border:none;font-family:Barlow;">
                        <div class="card-body" style="font-family:Barlow;">
                            <h6 style="color: white;font-family:Barlow;">Filter Training by Categories</h6>
                            <div class="row g-2">
                                <div class="col-md-12">
                                    <select type="text" class="form-select" name="tipe_pelatihan" id="tipe_pelatihan" style="font-family:Barlow;">
                                    </select>

                                </div>
                            </div>
                            <br />
                            <h6 style="color: white;font-family:Barlow;">Filter Training by Month</h6>
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <select class="form-select" name="filter_bulan" id="filter_bulan">
                                        <option value=0>Select Month</option>
                                        <option value=1>January</option>
                                        <option value=2>February</option>
                                        <option value=3>March</option>
                                        <option value=4>April</option>
                                        <option value=5>May</option>
                                        <option value=6>June</option>
                                        <option value=7>July</option>
                                        <option value=8>August</option>
                                        <option value=9>September</option>
                                        <option value=10>October</option>
                                        <option value=11>November</option>
                                        <option value=12>December</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary" onclick="clearfilters()">Clear Filters</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-1" style="position:relative;top:145px;left:780px;">
                    <select class="form-select" name="filter" id="filter">
                        <option disabled>Sort:</option>
                        <option value="tanggal">Date</option>
                        <option value="nama_pelatihan">Title</option>
                    </select>
                </div>
                <div class="col-sm-1" style="position: relative; top: 135px; left: 780px; font-size: 40px;">
                    <a id="icon-link" class="text-primary">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="col-sm-1" style="position: relative; top: 142px; left: 715px; font-size: 30px;">
                    <a id="icon-link1" class="text-secondary">
                        <i class="bi bi-grid"></i>
                    </a>
                </div>

            </div>
            <br />
            <div id="technical-list" style="font-family:Barlow;">




                <div class="row g-2">

                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i1.wp.com/handluggageonly.co.uk/wp-content/uploads/2015/05/IMG_2813-s.jpg?w=1600&ssl=1'); border: none;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">
                            <div class="card-category">City</div>
                            <div class="card-description">
                                <h2>home</h2>
                                <p>Lovely house</p>
                            </div>
                            <a class="card-link" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i0.wp.com/handluggageonly.co.uk/wp-content/uploads/2016/04/IMG_5589.jpg?w=1600&ssl=1'); border: none;">
                        <div class="card-category">City</div>
                        <div class="card-description">
                            <h2>home</h2>
                            <p>Lovely house</p>
                        </div>
                        <a class="card-link" href="#"></a>
                    </div>
                </div>


            </div>
            <br />
            <div class="container-lg">
                <div class="row g-4" id="technical2-list" style="font-family:Barlow;">
                </div>
            </div>

        </div>

    </section>
</section>


<style>
    .vertical-line {
        position: relative;
        height: 100%;
    }

        .vertical-line::before {
            content: "";
            position: absolute;
            left: 100%;
            top: -5px;
            bottom: 10px;
            border-left: 0.5px solid #01529C;
            transform: translateX(-50%);
            opacity: 50%;
        }

</style>

<footer id="footer" style="color:#ffffff;font-family:Barlow;">

    <div class="footer-top" style="background:#01529C;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Astra Polytechnic</h3>
                    <a href="https://maps.app.goo.gl/xG12byCagHAPUSuY9" target="_blank">
                        <p style="color:white;font-family:Barlow;">
                            <strong>Cikarang Campus</strong> <br>
                            Gaharu Street Block F3 Delta Silicon II, Cibatu,<br>
                            South Cikarang, Bekasi Regency, <br>
                            West Java 17530 <br><br>

                            <strong>Sunter Campus</strong> <br>
                            Astra International Public LLC Complex, Building B,<br>
                            Gaya Motor Raya Street No. 8, Sunter II, <br>
                            Jakarta 14330.<br><br>

                        </p>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Time of Service</h3>
                    <p style="color:white;font-family:Barlow;">
                        Monday - Friday (08:00 - 16:00)
                    </p>

                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Contacts</h3>
                    <p style="color:white;font-family:Barlow;">
                        Call Center : (021) 5022722 <br />
                        WhatsApp : 085156842086 (message only) <br />
                        Email :  dpp@astrapolytechnic.ac.id <br /> <br />
                    </p>
                    <div class="socialmedia" style="gap:15px;">
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: midnightblue; border: none;width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.instagram.com/astrapolytechnic/', '_blank');">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #FF0000; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.youtube.com/c/PolmanAstrachannel', '_blank');">
                            <i class="fab fa-youtube" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #4267B2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.facebook.com/Astrapolytechnic/', '_blank');">
                            <i class="fab fa-facebook-f" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #1DA1F2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://twitter.com/PoliteknikAstra/', '_blank');">
                            <i class="fab fa-twitter" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #25D366; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://api.whatsapp.com/send/?phone=6281295582134', '_blank');">
                            <i class="fab fa-whatsapp" style="font-size: 24px; color: white;"></i>
                        </a>
                    </div>



                    <br />
                    <h3 style="font-family:Barlow;">Information</h3>
                    <div class="row">
                        <a>
                            <p style="color:white;font-family:Barlow;">
                                About Industrial Services <br />
                                Astra Polytechnic Main Website <br />  <br />
                            </p>
                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 d-flex align-items-stretch text-center">
                    <span style="position: relative; left: 50%; transform: translateX(-50%);color:darkgray;font-family:Barlow;">Copyright © 2024 Astra Polytechnic</span>
                </div>
            </div>
        </div>

    </div>
</footer><!-- End Footer -->

<style>
    .socialmedia {
        display: flex;
        position: relative;
    }

        .socialmedia a {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
</style>
<script>
    var filter = "tanggal";
    var tipe = 0;
    var bulan = 0;
    loadTipePelatihanOptions();
    function loadTipePelatihanOptions() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllTipePelatihan"; // Sesuaikan dengan endpoint Anda
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var tipePelatihanList = data;

                // Kosongkan opsi pada elemen <select>
                $('#tipe_pelatihan').empty();
                $('#tipe_pelatihan').append($('<option value=0>Categories</option>'));

                // Tambahkan opsi dari data tipe_produk
                tipePelatihanList.forEach(function (tipePelatihan) {
                    var option = '<option value="' + tipePelatihan.id_tipe_pelatihan + '">' + tipePelatihan.tipe_pelatihan + '</option>';
                    $('#tipe_pelatihan').append(option);
                });

            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }

    $("#icon-link").click(function () {
        // Panggil fungsi loadPelatihanNonTechnical() saat ikon list diklik
        loadPelatihanNonTechnical(tipe, bulan, filter);

        $("#icon-link").removeClass("text-secondary");
        $(this).addClass("text-primary");
        $("#icon-link1").removeClass("text-primary");
        $("#icon-link1").addClass("text-secondary");
        $("#technical2-list").hide();
        $("#technical-list").show();
        $("#tipe_pelatihan").val(0);
        $("#filter_bulan").val(0);
        $("#filter").val("tanggal");
    });

    $("#icon-link1").click(function () {
        // Panggil fungsi loadPelatihanNonTechnical2() saat ikon grid diklik
        loadPelatihanNonTechnical2(tipe, bulan, filter);

        // Tambahan: Tambahkan atau hapus kelas 'text-primary' sesuai kebutuhan
                $("#icon-link1").removeClass("text-secondary");
        $(this).addClass("text-primary");
        $("#icon-link").removeClass("text-primary");
        $("#icon-link").addClass("text-secondary");
        $("#technical2-list").show();
        $("#technical-list").hide();
        $("#tipe_pelatihan").val(0);
        $("#filter_bulan").val(0);
        $("#filter").val("tanggal");
    });

    // Kembalikan id="tipe_pelatihan" dan "filter_bulan" ke value=0


    // Memuat data pelatihan saat halaman dimuat
    loadPelatihanNonTechnical(tipe, bulan, filter);
    function loadPelatihanNonTechnical(filter_tipe_pelatihan, filter_bulan, sortOption) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllPelatihanNonTechnical";
        var method = "GET";
        var data = {};
        $('#technical-list').empty();

        // Tambahkan filter_tipe_pelatihan ke data jika diberikan
        if (filter_tipe_pelatihan) {
            data.filter_tipe_pelatihan = filter_tipe_pelatihan;
        }

        // Tambahkan filter_bulan ke data jika diberikan
        if (filter_bulan) {
            data.filter_bulan = filter_bulan;
        }

        if (sortOption) {
            data.sortOption = sortOption;
        }

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                var pelatihanList = data;

                if (pelatihanList.length === 0) {
                    // No data found, display a card or message
                    var noDataHtml =
                        '<div class="col-12 text-center">' +
                        '<div class="card border rounded-3 p-4">' +
                        '<h4 class="fw-bold mb-3" style="font-family: Barlow;">No non-technical training found</h4>' +
                        '<p class="text-muted">Sorry, there are no non-technical training matching the specified criteria.</p>' +
                        '</div>' +
                        '</div>';

                    $('#technical-list').append(noDataHtml);
                } else {
                    pelatihanList.forEach(function (pelatihan) {
                        $.ajax({
                            url: hostname + "GetTipePelatihan?id=" + pelatihan.id_tipe_pelatihan,
                            method: "GET",
                            contentType: "application/json",
                            success: function (tipePelatihanDetails) {
                                var tipe_pelatihan = tipePelatihanDetails.tipe_pelatihan;
                                var newRow = '<br />' +
                                    '<div class="row g-2">' +
                                    '<div class="col-md-12">' +
                                    '<a href="/Home/DetailPelatihanNonTechnical?id=' + pelatihan.id_pelatihan + '"> ' +
                                    '<div class="card" style="background-color: rgba(0,0,0,0.01); border: none;">' +
                                    '<div class="card-body text-center rounded" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">' +
                                    '<div class="row g-2 justify-content-center" style="position:relative;top:10px;">' +
                                    '<div class="col-sm-3 vertical-line">' +
                                    '<p style="color: black;">' + pelatihan.nama_pelatihan + '</p>' +
                                    '</div>' +
                                    '<div class="col-sm-3 vertical-line">' +
                                    '<p style="color: black;">' + formatDate(pelatihan.tanggal_pelatihan_awal, pelatihan.tanggal_pelatihan_akhir) + '</p>' +
                                    '</div>' +
                                    '<div class="col-sm-3 vertical-line">' +
                                    '<p style="color: black;">' + tipe_pelatihan + '</p>' +
                                    '</div>' +
                                    '<div class="col-sm-3">' +
                                    '<i class="fa fa-chevron-right text-blue" aria-hidden="true"></i>' +
                                    '</div>' +
                                    '</div>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';

                                var isActive = true;

                                // Add or remove the 'text-primary' class based on the active state
                                if (isActive) {
                                    $("#icon-link").addClass("text-primary");
                                    $("#icon-link1").removeClass("text-primary"); // Pastikan menghapus kelas 'text-primary' jika tidak aktif
                                }

                                $('#technical-list').append(newRow);
                            },
                            error: function (xhr, status, error) {
                                console.error("Error:", error);
                            }
                        });
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }


    // Fungsi untuk mengubah format tanggal
    function formatDate(dateAwal, dateAkhir) {
        var options = { day: 'numeric', month: 'long', year: 'numeric' };
        var awal = new Date(dateAwal);
        var akhir = new Date(dateAkhir);

        // Jika bulan dan tahunnya sama
        if (awal.getFullYear() === akhir.getFullYear() && awal.getMonth() === akhir.getMonth()) {
            options.month = 'long';
            return awal.getDate() + ' - ' + akhir.toLocaleDateString('en-US', options);
        } else {
            // Jika bulan dan tahunnya berbeda
            return awal.toLocaleDateString('en-US', options) + ' - ' + akhir.toLocaleDateString('en-US', options);
        }
    }
    function loadPelatihanNonTechnical2(filter_tipe_pelatihan, filter_bulan, sortOption) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllPelatihanNonTechnical2";
        var method = "GET";
        var data = {};

        // Tambahkan filter_tipe_pelatihan ke data jika diberikan
        if (filter_tipe_pelatihan) {
            data.filter_tipe_pelatihan = filter_tipe_pelatihan;
        }

        // Tambahkan filter_bulan ke data jika diberikan
        if (filter_bulan) {
            data.filter_bulan = filter_bulan;
        }

        if (sortOption) {
            data.sortOption = sortOption;
        }

        $('#technical2-list').empty();

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                var pelatihanList = data;

                if (pelatihanList.length === 0) {
                    // No data found, display a card or message
                    var noDataHtml =
                        '<div class="col-12 text-center">' +
                        '<div class="card border rounded-3 p-4">' +
                        '<h4 class="fw-bold mb-3" style="font-family: Barlow;">No non-technical training found</h4>' +
                        '<p class="text-muted">Sorry, there are no non-technical training matching the specified criteria.</p>' +
                        '</div>' +
                        '</div>';

                    $('#technical2-list').append(noDataHtml);
                } else {
                    pelatihanList.forEach(function (pelatihan) {
                        $.ajax({
                            url: hostname + "GetTipePelatihan?id=" + pelatihan.id_tipe_pelatihan,
                            method: "GET",
                            contentType: "application/json",
                            success: function (tipePelatihanDetails) {
                                var tipe_pelatihan = tipePelatihanDetails.tipe_pelatihan;
                                var cardHtml =
                                    '<div class="col-xs-12 col-sm-4">' +
                                    '<a href="/Home/DetailPelatihanNonTechnical?id=' + pelatihan.id_pelatihan + '"> ' +
                                    '<div class="card bg-dark text-primary" style="border:none;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);">' +
                                    '<img src="/assets/img/' + pelatihan.path_foto_pelatihan + '" class="card-img img-fluid" alt="' + pelatihan.nama_pelatihan + '">' +
                                    '<div class="card-img-overlay d-flex flex-column">' +
                                    '<div class="card-category" style="font-size: 16px; font-weight: bold;font-family:Barlow;">' + tipe_pelatihan + '</div>' +
                                    '<div class="card-description flex-grow-1">' +
                                    '<h2 class="card-title" style="font-size: 24px; font-weight: bold;font-family:Barlow;">' + pelatihan.nama_pelatihan + '</h2>' +
                                    '<p class="card-text" style="color:rgba(0,0,0,0.7);font-size: 16px;font-family:Barlow;">' + formatDate(pelatihan.tanggal_pelatihan_awal, pelatihan.tanggal_pelatihan_akhir) + '</p>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</a>' +
                                    '</div>';

                                $('#technical2-list').append(cardHtml);
                            },
                            error: function (xhr, status, error) {
                                console.error("Error:", error);
                            }
                        });
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
    $(document).on('change', '#filter_bulan', function () {
        var bulan = $(this).val();
        var tipePelatihan = $('#tipe_pelatihan').val();
        var hostname = "https://localhost:7033/";

        if (bulan == 0 && tipePelatihan == 0) {
            location.reload();
        }

        // Membersihkan isi #technical-list
        $('#technical-list').empty();

        // Periksa apakah salah satu filter memiliki nilai yang tidak sama dengan 0
        if (bulan != 0 || tipePelatihan != 0) {
            if ($("#icon-link").hasClass("text-primary")) {
                $.ajax({
                    url: 'https://localhost:7033/GetAllPelatihanNonTechnical',
                    type: 'GET',
                    data: { filter_bulan: bulan, filter_tipe_pelatihan: tipePelatihan },
                    contentType: 'application/json',
                    success: function (data) {
                        var pelatihanList = data;

                        if (pelatihanList.length === 0) {
                            // No data found, display a card or message
                            var noDataHtml =
                                '<div class="col-12 text-center">' +
                                '<div class="card border rounded-3 p-4">' +
                                '<h4 class="fw-bold mb-3" style="font-family: Barlow;">No non-technical training found</h4>' +
                                '<p class="text-muted">Sorry, there are no non-technical training matching the specified criteria.</p>' +
                                '</div>' +
                                '</div>';

                            $('#technical-list').append(noDataHtml);
                        } else {
                            pelatihanList.forEach(function (pelatihan) {
                                $.ajax({
                                    url: hostname + "GetTipePelatihan?id=" + pelatihan.id_tipe_pelatihan,
                                    method: "GET",
                                    contentType: "application/json",
                                    success: function (tipePelatihanDetails) {
                                        var tipe_pelatihan = tipePelatihanDetails.tipe_pelatihan;
                                        var newRow = '<br />' +
                                            '<div class="row g-4">' +
                                            '<div class="col-md-12">' +
                                            '<a href="/Home/DetailPelatihanNonTechnical?id=' + pelatihan.id_pelatihan + '"> ' +
                                            '<div class="card" style="background-color: rgba(0,0,0,0.01);; border: none;">' +
                                            '<div class="card-body text-center rounded" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">' +
                                            '<div class="row g-2 justify-content-center" style="position:relative;top:10px;">' +
                                            '<div class="col-sm-3 vertical-line">' +
                                            '<p style="color: black;">' + pelatihan.nama_pelatihan + '</p>' +
                                            '</div>' +
                                            '<div class="col-sm-3 vertical-line">' +
                                            '<p style="color: black;">' + formatDate(pelatihan.tanggal_pelatihan_awal, pelatihan.tanggal_pelatihan_akhir) + '</p>' +
                                            '</div>' +
                                            '<div class="col-sm-3 vertical-line">' +
                                            '<p style="color: black;">' + tipe_pelatihan + '</p>' +
                                            '</div>' +
                                            '<div class="col-sm-3">' +
                                            '<i class="fa fa-chevron-right text-blue" aria-hidden="true"></i>' +
                                            '</div>' +
                                            '</div>' +
                                            '</a>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>';

                                        var isActive = true;

                                        // Add or remove the 'text-primary' class based on the active state
                                        if (isActive) {
                                            $("#icon-link").addClass("text-primary");
                                            $("#icon-link1").removeClass("text-primary"); // Pastikan menghapus kelas 'text-primary' jika tidak aktif
                                        }

                                        $('#technical-list').append(newRow);
                                    },
                                    error: function (xhr, status, error) {
                                        console.error("Error:", error);
                                    }
                                });
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            }
        }
    });

    $(document).on('change', '#tipe_pelatihan', function () {
        var tipePelatihan = $(this).val();
        var bulan = $('#filter_bulan').val();
        var hostname = "https://localhost:7033/";

        if (bulan == 0 && tipePelatihan == 0) {
            location.reload();
        }

        // Membersihkan isi #technical-list
        $('#technical-list').empty();

        // Periksa apakah salah satu filter memiliki nilai yang tidak sama dengan 0
        if (bulan != 0 || tipePelatihan != 0) {
            if ($("#icon-link").hasClass("text-primary")) {
                $.ajax({
                    url: 'https://localhost:7033/GetAllPelatihanNonTechnical',
                    type: 'GET',
                    data: { filter_bulan: bulan, filter_tipe_pelatihan: tipePelatihan },
                    contentType: 'application/json',
                    success: function (data) {
                        var pelatihanList = data;

                        if (pelatihanList.length === 0) {
                            // No data found, display a card or message
                            var noDataHtml =
                                '<div class="col-12 text-center">' +
                                '<div class="card border rounded-3 p-4">' +
                                '<h4 class="fw-bold mb-3" style="font-family: Barlow;">No non-technical training found</h4>' +
                                '<p class="text-muted">Sorry, there are no non-technical training matching the specified criteria.</p>' +
                                '</div>' +
                                '</div>';

                            $('#technical-list').append(noDataHtml);
                        } else {
                            pelatihanList.forEach(function (pelatihan) {
                                $.ajax({
                                    url: hostname + "GetTipePelatihan?id=" + pelatihan.id_tipe_pelatihan,
                                    method: "GET",
                                    contentType: "application/json",
                                    success: function (tipePelatihanDetails) {
                                        var tipe_pelatihan = tipePelatihanDetails.tipe_pelatihan;
                                        var newRow = '<br />' +
                                            '<div class="row g-4">' +
                                            '<div class="col-md-12">' +
                                            '<a href="/Home/DetailPelatihanNonTechnical?id=' + pelatihan.id_pelatihan + '"> ' +
                                            '<div class="card" style="background-color: rgba(0,0,0,0.01);; border: none;">' +
                                            '<div class="card-body text-center rounded" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">' +
                                            '<div class="row g-2 justify-content-center" style="position:relative;top:10px;">' +
                                            '<div class="col-sm-3 vertical-line">' +
                                            '<p style="color: black;">' + pelatihan.nama_pelatihan + '</p>' +
                                            '</div>' +
                                            '<div class="col-sm-3 vertical-line">' +
                                            '<p style="color: black;">' + formatDate(pelatihan.tanggal_pelatihan_awal, pelatihan.tanggal_pelatihan_akhir) + '</p>' +
                                            '</div>' +
                                            '<div class="col-sm-3 vertical-line">' +
                                            '<p style="color: black;">' + tipe_pelatihan + '</p>' +
                                            '</div>' +
                                            '<div class="col-sm-3">' +
                                            '<i class="fa fa-chevron-right text-blue" aria-hidden="true"></i>' +
                                            '</div>' +
                                            '</div>' +
                                            '</a>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>';

                                        var isActive = true;

                                        // Add or remove the 'text-primary' class based on the active state
                                        if (isActive) {
                                            $("#icon-link").addClass("text-primary");
                                            $("#icon-link1").removeClass("text-primary"); // Pastikan menghapus kelas 'text-primary' jika tidak aktif
                                        }

                                        $('#technical-list').append(newRow);
                                    },
                                    error: function (xhr, status, error) {
                                        console.error("Error:", error);
                                    }
                                });
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            }
        }
    });

    function clearfilters() {
        location.reload();
    }

    $(document).on('change', '#filter_bulan', function () {
        var bulan = $(this).val();
        var tipePelatihan = $('#tipe_pelatihan').val();
        var hostname = "https://localhost:7033/";

        // Membersihkan isi #technical2-list
        $('#technical2-list').empty();

        // Periksa apakah salah satu filter memiliki nilai yang tidak sama dengan 0
        if (bulan != 0 || tipePelatihan != 0) {
            if ($("#icon-link1").hasClass("text-primary")) {
                loadPelatihanNonTechnical2(tipePelatihan, bulan);
            }
        }
    });

    $(document).on('change', '#tipe_pelatihan', function () {
        var tipePelatihan = $(this).val();
        var bulan = $('#filter_bulan').val();
        var hostname = "https://localhost:7033/";

        // Membersihkan isi #technical2-list
        $('#technical2-list').empty();

        // Periksa apakah salah satu filter memiliki nilai yang tidak sama dengan 0
        if (bulan != 0 || tipePelatihan != 0) {
            if ($("#icon-link1").hasClass("text-primary")) {
                loadPelatihanNonTechnical2(tipePelatihan, bulan);
            }
        }
    });

    $(document).ready(function () {
        // Menangani perubahan pada elemen <select> dengan ID 'filter'
        $('#filter').change(function () {
            var selectedOption = $(this).val();
            if ($("#icon-link").hasClass("text-primary")) {
                sortPelatihan(selectedOption);
            }
        });

        // Fungsi untuk melakukan penyortiran
        function sortPelatihan(sortOption) {
            // Dapatkan nilai filter_tipe_pelatihan dan filter_bulan dari elemen yang sesuai
            var filter_tipe_pelatihan = $('#tipe_pelatihan').val();
            var filter_bulan = $('#filter_bulan').val();

            // Lakukan AJAX request untuk mendapatkan data pelatihan berdasarkan filter dan opsi sort
            $.ajax({
                url: 'https://localhost:7033/GetAllPelatihanNonTechnical',
                type: 'GET',
                data: {
                    filter_tipe_pelatihan: filter_tipe_pelatihan,
                    filter_bulan: filter_bulan,
                    sortOption: sortOption  // Kirim opsi sort sebagai parameter
                },
                contentType: 'application/json',
                success: function (data) {
                    // Mengganti isi #technical-list dengan data yang baru setelah penyortiran
                    loadPelatihanNonTechnical(filter_tipe_pelatihan, filter_bulan, sortOption);
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        }


        function loadPelatihanNonTechnical2WithSort(sortOption) {
            var method = "GET";

            // Dapatkan nilai filter bulan dan tipe pelatihan
            var filter_bulan = $('#filter_bulan').val();
            var filter_tipe_pelatihan = $('#tipe_pelatihan').val();


            // Membersihkan isi #technical2-list

            $.ajax({
                url: 'https://localhost:7033/GetAllPelatihanNonTechnical2',
                method: method,
                data: {
                    filter_tipe_pelatihan: filter_tipe_pelatihan,
                    filter_bulan: filter_bulan,
                    sortOption: sortOption  // Kirim opsi sort sebagai parameter
                },
                contentType: "application/json",
                success: function (data) {
                    loadPelatihanNonTechnical2(filter_tipe_pelatihan, filter_bulan, sortOption);

                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        }

        // Fungsi untuk menangani perubahan opsi penyortiran
        $(document).on('change', '#filter', function () {
            var sortOption = $(this).val();
            if ($("#icon-link1").hasClass("text-primary")) {
                loadPelatihanNonTechnical2WithSort(sortOption);
            }
            // Panggil fungsi loadPelatihanNonTechnical2WithSort dengan opsi penyortiran yang dipilih

        });
    });
</script>