@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Department Training & Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="hero">
    <section id="home" class="home">
        <div class="container" style="padding-bottom:15px;font-family:Barlow;">
            <p style="margin-bottom: -3px;color:darkgray;">Industrial Services</p>
            <h5 style="color: black; font-family:Barlow; font-weight: 600; font-size: 36px; margin-bottom: 20px;">About Department Training & Production</h5>

            <div class="container-sm">
                <div class="row">
                    <div class="col-sm-12 text-black">
                        <div class="container-fluid">
                            <div class="post-body" style="text-align:justify;font-family:Barlow; font-size:20px;">
                                <p>
                                <p><b>Department Function</b></p><p>Providing services to the industrial community in the fields of training, production and consulting.</p><p><br></p><p><b>Key Activities</b></p><p>1. Conduct skills <b>training </b>in manufacturing for AFFCO and non AFFCO industries.</p><p>2.Conduct <b>production </b>activities/manufacturing of machinery, production equipment and software.</p><p>3. Conduct <b>consulting</b> activities in the manufacturing industry.</p><p><br></p><p><b>Key Resources</b></p><p>1. Marketing, PPC, Purchasing, Finance</p><p>2. Skill Group-<b>Program Development, Engineer</b></p><p>3. LP3T- <b>Engineer</b>,</p><p>4. DPT - <b>Workshop/lab, Trainer, engineer, technical supervisor and operator</b></p><p><br></p><p><b>Current value offered within organization to department:</b></p><p>Improve competence, <b>QCDI mentality</b> for teaching staff and students through production activities (AIBE), <b>Link &amp; Match</b>.</p><p><span style="color: var(--bs-card-color); background-color: var(--bs-card-bg); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);">Improve competence, experience, </span><span style="color: var(--bs-card-color); background-color: var(--bs-card-bg); font-size: var(--bs-body-font-size); text-align: var(--bs-body-text-align);"><b>technology update</b></span><span style="color: var(--bs-card-color); background-color: var(--bs-card-bg); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);"> to teaching staff by providing training and consultation to the industrial community.</span><br></p><p><span style="color: var(--bs-card-color); background-color: var(--bs-card-bg); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);">Obtain </span><span style="color: var(--bs-card-color); background-color: var(--bs-card-bg); font-size: var(--bs-body-font-size); text-align: var(--bs-body-text-align);"><b>funding sources</b></span><span style="color: var(--bs-card-color); background-color: var(--bs-card-bg); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);"> from the industrial community through production, training and consulting activities.</span><br></p>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </section>
</section>


<footer id="footer" style="color:#ffffff;font-family:Barlow;">

    <div class="footer-top" style="background:#01529C;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Astra Polytechnic</h3>
                    <a href="https://maps.app.goo.gl/xG12byCagHAPUSuY9" target="_blank">
                        <p style="color:white;font-family:Barlow;">
                            <strong>Cikarang Campus</strong> <br>
                            Gaharu Street Block F3 Delta Silicon II, Cibatu,<br>
                            South Cikarang, Bekasi Regency, <br>
                            West Java 17530 <br><br>

                            <strong>Sunter Campus</strong> <br>
                            Astra International Public LLC Complex, Building B,<br>
                            Gaya Motor Raya Street No. 8, Sunter II, <br>
                            Jakarta 14330.<br><br>

                        </p>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3 style="font-family:Barlow;">Time of Service</h3>
                    <p style="color:white;font-family:Barlow;">
                        Monday - Friday (08:00 - 16:00)
                    </p>

                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Contacts</h3>
                    <p style="color:white;font-family:Barlow;">
                        Call Center : (021) 5022722 <br />
                        WhatsApp : 085156842086 (message only) <br />
                        Email :  dpp@astrapolytechnic.ac.id <br /> <br />
                    </p>
                    <div class="socialmedia" style="gap:15px;">
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: midnightblue; border: none;width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.instagram.com/astrapolytechnic/', '_blank');">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #FF0000; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.youtube.com/c/PolmanAstrachannel', '_blank');">
                            <i class="fab fa-youtube" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #4267B2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://www.facebook.com/Astrapolytechnic/', '_blank');">
                            <i class="fab fa-facebook-f" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #1DA1F2; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://twitter.com/PoliteknikAstra/', '_blank');">
                            <i class="fab fa-twitter" style="font-size: 24px; color: white;"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating rounded-circle" style="background-color: #25D366; border: none; width: 50px; height: 50px;" role="button" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://api.whatsapp.com/send/?phone=6281295582134', '_blank');">
                            <i class="fab fa-whatsapp" style="font-size: 24px; color: white;"></i>
                        </a>
                    </div>



                    <br />
                    <h3 style="font-family:Barlow;">Information</h3>
                    <div class="row">
                        <a>
                            <p style="color:white;font-family:Barlow;">
                                About Industrial Services <br />
                                Astra Polytechnic Main Website <br />  <br />
                            </p>
                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 d-flex align-items-stretch text-center">
                    <span style="position: relative; left: 50%; transform: translateX(-50%);color:darkgray;font-family:Barlow;">Copyright © 2024 Astra Polytechnic</span>
                </div>
            </div>
        </div>

    </div>
</footer><!-- End Footer -->

<style>
    .socialmedia {
        display: flex;
        position: relative;
    }

        .socialmedia a {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
</style>