@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Dashboard";
}


            <div class="container-md" style="padding:60px;background-color:lightgray">
                <div class="container-fluid">
                    <h1 style="padding-bottom:10px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Welcome to Industrial Services Website Management Data Side!</h1>
                    <p class="lead">This is the home page of Industrial Services Management Data Side, please access the menu available on the menu bar on the left side of the page.</p>
                </div>
            </div>

