@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Faculty Member Data";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int no = 1;
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = null;

        <script>
            window.location.href = '@Url.Action("Index", "Login")';
        </script>

        return;
    }
    if (role == "Admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote();
    });
</script>
<div class="pagetitle">
    <h1>Faculty Member Data</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datatables</h5>

                    <button class="btn btn-primary addFacultyMember">+ Add Faculty Member</button>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">NPK</th>
                                <th scope="col">Teacher's Name</th>
                                <th scope="col">Areas of expertise</th>
                                <th scope="col">Teacher's Photo</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyTenagaPengajar">
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
    </section>

<script>
    function simpan() {
        var npk = document.getElementById("npk").value;
        var nama_pengajar = document.getElementById("nama_pengajar").value;
        var bidang_keahlian = document.getElementById("bidang_keahlian").value;
        var deskripsi_pengajar = document.getElementsByName("deskripsi_pengajar")[0].value;
        var status = document.getElementById("status").value;

        var fotopengajar = document.getElementById("foto_pengajar").files[0];

        // Jika foto_pengajar tidak null, upload foto
        if (fotopengajar != null) {
            uploadFoto(fotopengajar, function (uniqueFileName) {
                // Setelah foto diupload, lanjutkan dengan menyimpan data
                var hostname = "https://localhost:7033/"; // Ganti dengan URL API Anda
                var url = hostname + "InsertFacultyMember"; // Sesuaikan dengan endpoint Anda
                var method = "POST";
                var input = {
                    npk: npk,
                    nama_pengajar: nama_pengajar,
                    bidang_keahlian: bidang_keahlian,
                    foto_pengajar: uniqueFileName, // Ubah ini sesuai dengan kebutuhan Anda
                    deskripsi_pengajar: deskripsi_pengajar,
                    status: status
                };

                $.ajax({
                    url: url,
                    method: method,
                    data: JSON.stringify(input),
                    contentType: "application/json",
                    success: function (data) {
                        if (data.status === 500) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Warning!',
                                text: 'NPK has already been used!',
                            });
                        } else {
                            console.log("Data berhasil diupload");
                            location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        // Handle error
                    },
                });
            });
        } else {
            // Jika foto_pengajar null, langsung menyimpan data tanpa mengunggah foto
            saveData();
        }
    }

    function uploadFoto(file, callback) {
        var formData = new FormData();
        var uniqueFileName = guid() + "_" + file.name;
        formData.append('fotopengajar', file, uniqueFileName);
        var maxSize = 7 * 1024 * 1024; // 10 MB

        // Pengecekan ukuran file
        if (file.size > maxSize) {
            Swal.fire({
                icon: 'warning',
                title: 'File Size Exceeded',
                text: 'File size should not exceed 7 MB.'
            });
            // Tidak melanjutkan proses upload jika ukuran file melebihi batas
            location.reload();
        }

        $.ajax({
            url: '/FacultyMember/UploadPhoto',
            method: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                // Panggil callback setelah foto diupload
                callback(uniqueFileName); 
            },
            error: function (error) {
                console.log(error);
                // Handle error
            }
        });
    }

    // Fungsi untuk membuat GUID
    function guid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0,
                v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    function saveData() {
        alert('warning')
        console.log("Simpan data tanpa foto");
    }


    function cancel() {
        document.getElementById("npk").value = "";
        document.getElementById("nama_pengajar").value = "";
        document.getElementById("bidang_keahlian").value = "";
    }


    loadTenagaPengajar()

    function loadTenagaPengajar() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllFacultyMembers";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data;
                list.forEach(function (pengajar, index) {
                    var newRow = '<tr>' +
                        '<td>' + (index + 1) + '</td>' +
                        '<td>' + pengajar.npk + '</td>' +
                        '<td>' + pengajar.nama_pengajar + '</td>' +
                        '<td>' + pengajar.bidang_keahlian + '</td>' +
                        '<td><img src="/assets/img/' + pengajar.foto_pengajar + '" alt="Foto Pengajar" width="70" height="70"></td>' +
                        '<td>' +
                        '<button class="btn btn-primary editFacultyMember" data-id_pengajar="' + pengajar.id_pengajar + '"><i class="fas fa-edit"></i></button>' +
                        '<button class="btn btn-danger" value="' + pengajar.id_pengajar + '" onclick="hapus(this.value)"><i class="fas fa-trash"></i></button>' +
                        '</td>' +
                        '</tr>';

                    $('#tbodyTenagaPengajar').append(newRow);

                    // Event listener for edit button
                    $('.editFacultyMember[data-id_pengajar="' + pengajar.id_pengajar + '"]').click(function () {
                        var id_pengajar = $(this).data("id_pengajar");
                        loadEditTenagaPengajar(id_pengajar);
                    });
                });
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }



    function hapus(id) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "DeleteFacultyMember?id=" + id;
        var method = "POST";

        // Konfirmasi sebelum menghapus menggunakan SweetAlert2
        Swal.fire({
            title: 'Are you sure for deleting this Faculty Member?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Delete!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // Ajax untuk menghapus data Tenaga Pengajar
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    success: function (data) {
                        Swal.fire(
                            'Success!',
                            'Faculty Member data deleted sucessfully.',
                            'success'
                        ).then(() => {
                            location.reload();
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error deleting faculty member:", error);
                        // Tangani kesalahan jika terjadi saat menghapus data Tenaga Pengajar
                        Swal.fire(
                            'Error!',
                            'error'
                        );
                    }
                });
            }
        });
    }
    $(".addFacultyMember").click(function () {
        $("#addFacultyMemberModal").modal("show");
    });
    $(".editFacultyMember").click(function () {
        var id_pengajar = $(this).data("id_pengajar");
        loadEditTenagaPengajar(id_pengajar);
    });

    function loadEditTenagaPengajar(id_pengajar) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetFacultyMember?id=" + id_pengajar;
        var method = "GET";
        var deskripsi_pengajar = document.getElementsByName("editdeskripsi_pengajar")[0];
        $('#richtext').summernote('destroy');
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var faculty = data.data;

                $('#editid_pengajar').val(faculty.id_pengajar);
                $('#editnpk').val(faculty.npk);
                $('#editnama_pengajar').val(faculty.nama_pengajar);
                $('#editbidang_keahlian').val(faculty.bidang_keahlian);
                deskripsi_pengajar.innerHTML = faculty.deskripsi_pengajar;
                $('#editstatus').val(faculty.status);
                $('#richtext').summernote();
                // Show the Bootstrap modal
                $('#editFacultyMemberModal_').modal('show');
            }
        });
    }

    function simpanedit() {
        var id_pengajar = document.getElementById("editid_pengajar").value;
        var npk = document.getElementById("editnpk").value;
        var nama_pengajar = document.getElementById("editnama_pengajar").value;
        var bidang_keahlian = document.getElementById("editbidang_keahlian").value;
        var foto_pengajar = document.getElementById("editfoto_pengajar").value;
        var deskripsi_pengajar = document.getElementsByName("editdeskripsi_pengajar")[0].value;
        var status = document.getElementById("editstatus").value;

        var fotopengajar = document.getElementById("editfoto_pengajar").files[0];

        var hostname = "https://localhost:7033/";
        var url = hostname + "UpdateFacultyMember";
        var method = "POST";

        var input = {
            id_pengajar: id_pengajar,
            npk: npk,
            nama_pengajar: nama_pengajar,
            bidang_keahlian: bidang_keahlian,
            foto_pengajar: foto_pengajar,
                        deskripsi_pengajar: deskripsi_pengajar,
            status: status
        };

        var data = JSON.stringify(input);

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                if (data.status === 500) {
                    // Tampilkan SweetAlert jika NPK sudah digunakan
                    Swal.fire({
                        icon: 'error',
                        title: 'Warning!',
                        text: 'NPK was already used!',
                    });
                } else {
                    var check = 1;

                    if (fotopengajar == null) {
                        check = 2;
                    }

                    if (check === 1) {
                        uploadFoto(fotopengajar);
                    }

                    if (check === 2) {
                        window.location.href = '/FacultyMember/Index';
                    }
                }
            },
        });
    }


    function canceledit() {
        document.getElementById("editnpk").value = "";
        document.getElementById("editnama_pengajar").value = "";
        document.getElementById("editbidang_keahlian").value = "";
    }
   
</script>


@*Modal*@
<div class="modal fade" id="addFacultyMemberModal" tabindex="-1" role="dialog" aria-labelledby="addFacultyMember" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" style="font-size:28px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Add Faculty Member</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Please Fill it in Correctly!</h5>
                                    <hr />
                                    <br />

                                    <!-- General Form Elements -->
                                    <div class="row mb-3">
                                        <label for="npk" class="col-sm-2 col-form-label">NPK</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="npk" id="npk">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="nama_pengajar" class="col-sm-2 col-form-label">Teacher's Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nama_pengajar" id="nama_pengajar">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="bidang_keahlian" class="col-sm-2 col-form-label">Areas of expertise</label>
                                        <div class="col-sm-10">
                                            <select type="text" class="form-select" name="bidang_keahlian" id="bidang_keahlian">
                                            <option>Select Areas of expertise</option>
                                                <option value="Technical">Technical</option>
                                            <option value="Non-Technical">Non-Technical</option>
                                                                                        <option value="Technical and Non-Technical">Technical & Non-Technical</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                    <label for="foto_pengajar" class="col-sm-2 col-form-label">Teacher's Photo (in ratio 1:1)</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="file" name="fotopengajar" id="foto_pengajar">
                                        </div>
                                    </div>
                                <div class="row mb-3">
                                    <label for="deskripsi_pengajar" class="col-sm-2 col-form-label">Teacher's Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="deskripsi_pengajar" id="summernote" rows="5"></textarea>
                                    </div>
                                </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                            <input class="form-control" id="status" name="status" value=1 hidden />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                            <button type="button" class="btn btn-danger" onclick="cancel()">Reset</button>
                                            <button type="submit" class="btn btn-primary" onclick="simpan()">Submit</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editFacultyMemberModal_" tabindex="-1" role="dialog" aria-labelledby="editFacultyMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" style="font-size:28px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Edit Faculty Member</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Please Fill it in Correctly!</h5>
                                    <hr />
                                    <br />

                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                        <input type="text" class="form-control" name="editid_pengajar" id="editid_pengajar" hidden>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="npk" class="col-sm-2 col-form-label">NPK</label>
                                        <div class="col-sm-10">
                                        <input type="text" class="form-control" name="editnpk" id="editnpk">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="nama_pengajar" class="col-sm-2 col-form-label">Teacher's Name</label>
                                        <div class="col-sm-10">
                                        <input type="text" class="form-control" name="editnama_pengajar" id="editnama_pengajar">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="bidang_keahlian" class="col-sm-2 col-form-label">Areas of expertise</label>
                                        <div class="col-sm-10">
                                        <select type="text" class="form-select" name="editbidang_keahlian" id="editbidang_keahlian">
                                            <option>Select Areas of expertise</option>
                                                <option value="Technical">Technical</option>
                                            <option value="Non-Technical">Non-Technical</option>
                                            <option value="Technical and Non-Technical">Technical & Non-Technical</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="foto_pengajar" class="col-sm-2 col-form-label">Teacher's Photo (in ratio 1:1)</label>
                                        <div class="col-sm-10">
                                        <input class="form-control" type="file" name="editfotopengajar" id="editfoto_pengajar">
                                        </div>
                                    </div>
                                <div class="row mb-3">
                                    <label for="editdeskripsi_pengajar" class="col-sm-2 col-form-label">Teacher's Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="editdeskripsi_pengajar" id="richtext" rows="5"></textarea>
                                    </div>
                                </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                        <input class="form-control" id="editstatus" name="editstatus" value=1 hidden />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" onclick="simpanedit()">Submit</button>
                                        </div>
                                    </div>


                                </div>
                            </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>