<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Medilab Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/img/AstraTech.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Content/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Medilab
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <header id="header" class="fixed-top" style="padding:0; padding-top:40px;">
        <div class="container d-flex align-items-center">
                <img class="logo me-auto" src="~/Content/img/AstraTech.png" style="height: 50px; position:relative; left:-90px;" />
                <h1 style="font-weight:400; font-family: Poppins, sans-serif; font-size:28px; color: #005aa9; position:relative; left:-650px;">Pelayanan Industri</h1>
            <h1 style="font-weight:300; font-family: Poppins, sans-serif; font-size:20px; color: #005aa9; position:relative; left:-420px;">The Best Partner in Business Development</h1>
        </div>
        <div class="navbar shadow-sm navbar-expand-xl navbar-dark p-0" style="border: 1px solid #e0e0e0; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   border-bottom: 1px solid #ccc;">
                <div class="container">
                    <div class="collapse navbar-collapse">
                    <nav id="navbar" class="navbar" style="right:-140px;">
                        <ul style="gap:20px;">
                                <li><a class="nav-link scrollto active" href="#hero">Beranda</a></li>
                                <li><a class="nav-link scrollto" href="#about">Faculty Member</a></li>
                                <li class="dropdown">
                                <a class="nav-link scrollto" href="#services">Departemen Pelatihan dan Produksi <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                        <li><a href="#">Drop Down 1</a></li>
                                        <li><a href="#">Drop Down 2</a></li>
                                        <li><a href="#">Drop Down 3</a></li>
                                        <li><a href="#">Drop Down 4</a></li>
                                    </ul>
                                </li>
                            <li class="dropdown">
                                <a class="nav-link scrollto o" href="#portfolio">Caledar of Event <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Drop Down 1</a></li>
                                    <li><a href="#">Drop Down 2</a></li>
                                    <li><a href="#">Drop Down 3</a></li>
                                    <li><a href="#">Drop Down 4</a></li>
                                </ul>
                            </li>
                                <li><a class="nav-link scrollto" href="#team">Testimoni & Customer Map</a></li>
                            <li class="dropdown">
                                <a class="nav-link scrollto o" href="#portfolio"><i class="bi bi-list" style="font-size:20px;"> </i> 
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                                <ul>
                                    <li><a href="#">Kelola CRUD</a></li>
                                </ul>
                            </li>
                            </ul>
                            <i class="bi bi-list mobile-nav-toggle"></i>
                        </nav>
                    </div>
                </div>
            </div>  


    </header>

        <main id="main" >
            @RenderBody()
        </main>
</body>
<style>
    #main {
        position: relative;
        top: 30px;
    }
</style>
<!-- Vendor JS Files -->
<script src="~/Content/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/Content/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/Content/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/Content/js/main.js"></script>
</html>
