@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Edit Article";
}

<div class="pagetitle">
    <h1>- Edit Article -</h1>
</div>
<br />

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Please Fill it in Correctly!</h5>
                    <hr />
                    <br />

                    <!-- Form for editing article data -->
                    <div class="row mb-3">
                        <input type="text" class="form-control" name="id_artikel" id="id_artikel" value="@ViewBag.Id" hidden>
                        <input type="text" class="form-control" name="id_pengelola" id="id_pengelola" hidden>
                    </div>
                    <div class="row mb-3">
                        <label for="tanggal_rilis" class="col-sm-2 col-form-label">Date of Release</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tanggal_rilis" id="tanggal_rilis" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="judul_artikel" class="col-sm-2 col-form-label">Article Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="judul_artikel" id="judul_artikel" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="sampul_artikel" class="col-sm-2 col-form-label">Article Cover</label>
                        <div class="col-sm-10">
                            <img src="" id="preview_image" alt="Article Cover" width="70" height="70">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="isi_artikel" class="col-sm-2 col-form-label">Article Content</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="isi_artikel" id="isi_artikel" rows="10" disabled></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input class="form-control" id="status" name="status" value="1" hidden />
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    loadArticleData();

    function loadArticleData() {
        var id_artikel = document.getElementById("id_artikel");
        var id_pengelola = document.getElementById("id_pengelola");
        var judul_artikel = document.getElementById("judul_artikel");
        var sampul_artikel = document.getElementById("sampul_artikel");
        var isi_artikel = document.getElementById("isi_artikel");
        var status = document.getElementById("status");

        var hostname = "https://localhost:7033/";
        var url = hostname + "GetArtikel?id=" + @ViewBag.Id;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var article = data.data;
                id_pengelola.value = article.id_pengelola;
                judul_artikel.value = article.judul_artikel;
                isi_artikel.value = article.isi_artikel;
                status.value = article.status;

                // Tampilkan pratinjau gambar sampul artikel jika ada
                if (article.sampul_artikel) {
                    var imagePath = "/assets/img/" + article.sampul_artikel;
                    $("#preview_image").attr("src", imagePath);
                }
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
        var today = new Date();

        // Mendapatkan tanggal dalam format yang dapat dimasukkan ke dalam database (yyyy-MM-dd)
        var formattedDate = today.toLocaleDateString('en-CA'); // 'en-CA' adalah kode untuk format 'yyyy-MM-dd'

        // Set nilai default pada input tanggal dengan id "tanggal_rilis"
        document.getElementById('tanggal_rilis').value = formattedDate;
    });
</script>