@{
    Layout = "~/Views/Shared/_LayoutContributor.cshtml";
    ViewData["Title"] = "Edit Pengelola Web";
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    string id = httpcontext.Session.GetString("ID");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = null;

        <script>
            window.location.href = '@Url.Action("Index", "Login")';
        </script>

        return;
    }
    if (role == "Contributor")
    {
        Layout = "~/Views/Shared/_LayoutContributor.cshtml";
    }

}

    <div class="pagetitle">
        <h1>Edit your Password Account</h1>
    </div>
    <br />

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Please Fill it in Correctly!</h5>
                        <hr />
                        <br />

                        <div class="row mb-3">
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="editusnpwid_pengelola" id="editusnpwid_pengelola" value='@id' hidden>
                            </div>
                        </div>
                    <div class="row mb-3">
                        <label for="passwordawal" class="col-sm-2 col-form-label">Current Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="passwordawal" id="passwordawal">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="editpassword" id="editpassword">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">Confirm New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="editpassword2" id="editpassword2">
                        </div>
                    </div>
                        <br />
                        <br />
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-danger" onclick="cancel()">Cancel</button>
                                <button type="submit" class="btn btn-primary" onclick="simpan()">Submit</button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>

                        <script>
    function simpan() {
        var id_pengelola = document.getElementById("editusnpwid_pengelola").value;
        var passwordawal = document.getElementById("passwordawal").value;
        var password = document.getElementById("editpassword").value;
        var password2 = document.getElementById("editpassword2").value;

        var hostname = "https://localhost:7033/"; // Ganti dengan URL API Anda
        var url = hostname + "UpdateUsnPwPengelolaWeb"; // Sesuaikan dengan endpoint Anda
        var method = "POST";
        var input = {
            id_pengelola: id_pengelola,
            passwordawal: passwordawal,
            password: password,
        };
        var data = JSON.stringify(input);

        if (passwordawal == '' || password == '' || password2 == '') {
            Swal.fire({
                
                : 'error',
                title: 'Warning!',
                text: 'Please fill in all fields!',
            });
            return; // Keluar dari fungsi jika NPK bukan angka
        }
        if (password != password2) {
            Swal.fire({
                icon: 'error',
                title: 'Warning!',
                text: 'New Password and Confirm New Password didn\'t match!',
            });
            document.getElementById('editpassword').value = '';
            document.getElementById('editpassword2').value = '';
            return;
        }

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                console.log(data.messages);

                if (data.status === 500) {
                    // Tampilkan SweetAlert jika password lama salah
                    Swal.fire({
                        icon: 'error',
                        title: 'Warning!',
                        text: 'Incorrect current password!',
                    });
                } else if (data.status === 400) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Warning!',
                        text: 'The new password has already been used!',
                    });
                } else {
                    // Redirect hanya jika tidak ada error
                    window.location.href = '/DashboardContributor/Index';
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
</script>