@{
    ViewData["Title"] = "Departement of Training and Production";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-md d-flex justify-content-center align-items-center" style="padding-bottom:30px;">
    <div class="container-fluid text-center">
        <h2 style="padding:10px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">The Services We Provide</h2>
    </div>
</div>

    <div class="row justify-content-center">

        <div class="col-lg-3">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Training</h5>

                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action latihanSertifikasi">Certification Training</button>
                    <button type="button" class="list-group-item list-group-item-action tailorMade">Tailor Made Training</button>
                    <button type="button" class="list-group-item list-group-item-action training">Training</button>
                </div><!-- End List group with Links and buttons -->

                </div>
            </div>

    </div>

    <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>

                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action ourProducts">Our products..</button>
                    <button type="button" class="list-group-item list-group-item-action fasilitas">Facilities</button>
                </div><!-- End List group with Links and buttons -->

                </div>
            </div>
        </div>
</div>



<section class="section">
    <div class="tableProduct" style="display:none;">
        <div class="pagetitle">
            <h1>Products</h1>
        </div><!-- End Page Title -->
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Product Data</h5>
                        <a class="btn btn-primary addProduct">+ Add New Product</a>
                         <a class="btn btn-success" asp-action="Index" asp-controller="TipeProduk">Manage Type of Products</a>
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Type</th>
                                    <th scope="col">Ordered by</th>
                                    <th scope="col">Product Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyProducts">

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="tableFacilities" style="display:none;">
        <div class="pagetitle">
            <h1>Products</h1>
        </div><!-- End Page Title -->
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Facilities Data</h5>
                        <a class="btn btn-primary addFasilitas">+ Add New Facility</a>
                        <a class="btn btn-success" asp-controller="TipeFasilitas" asp-action="Index">Manage Type of Facility</a>
                        <table class="table datatable">

                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Facilities Name</th>
                                    <th scope="col">Type of Facilities</th>
                                    <th scope="col">Facilities Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyFasilitas">
                                <!-- Data artikel akan ditambahkan di sini -->
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="tableTraining" style="display:none;">
        <div class="pagetitle">
            <h1>Training</h1>
        </div><!-- End Page Title -->
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Training Data</h5>
                        <a class="btn btn-primary addPelatihan">+ Add New Training</a>
                        <a class="btn btn-success" asp-controller="TipePelatihan" asp-action="Index">Manage Type of Training</a>
                        <table class="table datatable">

                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Training Name</th>
                                    <th scope="col">Training Start Date</th>
                                    <th scope="col">Training End Date</th>
                                    <th scope="col">Training Type</th>
                                    <th scope="col">Training Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyTraining">
                                <!-- Data artikel akan ditambahkan di sini -->
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
        //Start Products DOM JQUERY
    loadProducts()
    loadFasilitas()
    loadPelatihan()
    function loadProducts() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllProduk";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                // Pastikan respons memiliki properti yang sesuai dengan struktur data
                var productList = data;
                if (Array.isArray(productList)) {
                    productList.forEach(function (product, index) {
                        var newRow = '<tr>' +
                            '<td>' + (index + 1) + '</td>' +
                            '<td>' + product.nama_produk + '</td>' +
                            '<td>' + product.tipe_produk + '</td>' +
                            '<td>' + product.pesanan + '</td>' +
                            '<td>' + product.deskripsi_produk + '</td>' +
                            '<td>' +
                            '<button class="btn btn-success showFotoProduk" data-id_produk="' + product.id_produk + '"><i class="fa-regular fa-image"></i></button>' +
                            '<button class="btn btn-primary editProduct" data-id_produk="' + product.id_produk + '"><i class="fas fa-edit"></i></button>' +
                            '<button class="btn btn-danger" value="' + product.id_produk + '" onclick="hapusProduk(this.value)"><i class="fas fa-trash"></i></button>' +
                            '</td>' +
                            '</tr>';

                        $('#tbodyProducts').append(newRow);

                        // Event listener for edit button
                        $('.editProduct[data-id_produk="' + product.id_produk + '"]').click(function () {
                            var id_produk = $(this).data("id_produk");
                            loadEditProduct(id_produk);
                        });

                    });
                } else {
                    console.error("Invalid data format");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }


    function simpanProduk() {
        var nama_produk = document.getElementById("nama_produk").value;
        var tipe_produk = document.getElementById("tipe_produk").value;
        var pesanan = document.getElementById("pesanan").value;
        var deskripsi_produk = document.getElementById("deskripsi_produk").value;
        var status = document.getElementById("status").value;

        var fotoPaths = [];

        var foto_1 = document.getElementById("addphoto1").value;
        var foto_2 = document.getElementById("addphoto2").value;
        var foto_3 = document.getElementById("addphoto3").value;
        var foto_4 = document.getElementById("addphoto4").value;
        var foto_5 = document.getElementById("addphoto5").value;

        // Menambahkan foto-foto yang tidak kosong ke dalam array fotoPaths
        if (foto_1.trim() !== '') {
            fotoPaths.push(foto_1);
        }
        if (foto_2.trim() !== '') {
            fotoPaths.push(foto_2);
        }
        if (foto_3.trim() !== '') {
            fotoPaths.push(foto_3);
        }
        if (foto_4.trim() !== '') {
            fotoPaths.push(foto_4);
        }
        if (foto_5.trim() !== '') {
            fotoPaths.push(foto_5);
        }


        var hostname = "https://localhost:7033/";
        var url = hostname + "InsertProduk";
        var method = "POST";

        // Buat FormData untuk setiap foto yang akan dikirimkan
        var fileInputs = [];

        var file1 = document.getElementById("addphoto1").files[0];
        var file2 = document.getElementById("addphoto2").files[0];
        var file3 = document.getElementById("addphoto3").files[0];
        var file4 = document.getElementById("addphoto4").files[0];
        var file5 = document.getElementById("addphoto5").files[0];

        if (file1) {
            fileInputs.push(file1);
        }
        if (file2) {
            fileInputs.push(file2);
        }
        if (file3) {
            fileInputs.push(file3);
        }
        if (file4) {
            fileInputs.push(file4);
        }
        if (file5) {
            fileInputs.push(file5);
        }

        // Data untuk pengiriman informasi produk
        var productData = {
            nama_produk: nama_produk,
            tipe_produk: tipe_produk,
            pesanan: pesanan,
            deskripsi_produk: deskripsi_produk,
            status: status
        };

        // Kirim permintaan AJAX untuk menyimpan data produk dan foto-fotonya secara terpisah
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            data: JSON.stringify(productData),
            success: function (data) {
                console.log("Data produk berhasil disimpan:", data);
                uploadPhoto(fileInputs);
                sendPhotoProduk(fotoPaths);

                location.reload(); // Opsional: Jika Anda ingin memuat ulang halaman
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Handle error
            }
        });
    }

    // Fungsi untuk mengirimkan foto ke server


function uploadPhoto(formDataArray) {
    var url = '/DPP/UploadPhoto';

    formDataArray.forEach(function (data) {
        var formData = new FormData(); // perbaikan: nama FormData harus huruf besar-besar
        formData.append('foto', data);

        $.ajax({
            url: url,
            method: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                console.log("Foto berhasil diunggah:", response);
                // Lakukan tindakan lebih lanjut jika diperlukan setelah foto berhasil diunggah
            },
            error: function (xhr, status, error) {
                console.error("Error uploading photo:", error);
                // Tangani kesalahan jika ada
            }
        });
    });
}

    function sendPhotoProduk(photoPaths) {
        var hostname = 'https://localhost:7033/'; // Ganti dengan URL untuk mengunggah foto
        var url = hostname + "SendPhotoProduk";

        var fotoProdukArray = [];

        photoPaths.forEach(function (photoPath) {
            var fotoProduk = {
                path_foto_produk: photoPath,
                status: 1 // Atur status yang sesuai jika diperlukan
            };

            fotoProdukArray.push(fotoProduk);
        });
        console.log(fotoProdukArray)

        $.ajax({
            url: url,
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(fotoProdukArray),
            success: function (data) {
                console.log("Foto berhasil diunggah:", data);
            },
            error: function (xhr, status, error) {
                console.error("Error uploading photo:", error);
                // Handle error
            }
        });
    }

    function hapusProduk(id) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "DeleteProduk?id=" + id
        var method = "POST";
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                location.reload();
            },
        });
    }

    function updateProduct() {
        var id_produk = document.getElementById("editid_produk").value;
        var nama_produk = document.getElementById("editnama_produk").value;
        var tipe_produk = document.getElementById("edittipe_produk").value;
        var pesanan = document.getElementById("editpesanan").value;
        var deskripsi_produk = document.getElementById("editdeskripsi_produk").value;
        var status = document.getElementById("editstatus_produk").value;

        var hostname = "https://localhost:7033/";
        var url = hostname + "UpdateProduk";
        var method = "POST";
        var input = {
            id_produk: id_produk,
            nama_produk: nama_produk,
            tipe_produk: tipe_produk,
            pesanan: pesanan,
            deskripsi_produk: deskripsi_produk,
            status: status
        };

        $.ajax({
            url: url,
            method: method,
            data: JSON.stringify(input),
            contentType: "application/json",
            success: function (data) {
                console.log("Data produk berhasil diperbarui:", data);
                $('#editProductModal').modal('hide');
                $('.tableTraining').hide();
                $('.tableProduct').show();
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Handle error
            }
        });
    }

    function loadEditProduct(id_produk) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetProduk?id=" + id_produk;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var product = data;
                $('#editid_produk').val(product.id_produk);
                $('#editnama_produk').val(product.nama_produk);
                $('#edittipe_produk').val(product.tipe_produk);
                $('#editpesanan').val(product.pesanan);
                $('#editdeskripsi_produk').val(product.deskripsi_produk);
                $('#editstatus_produk').val(product.status);

                // Show the Bootstrap modal
                $('#editProductModal').modal('show');
            }
        });
    }


    $(document).ready(function () {
        // Event listener untuk menampilkan foto produk ketika tombol showFotoProduk ditekan
        $(document).on('click', '.showFotoProduk', function () {
            var productId = $(this).data('id_produk'); // Mendapatkan id_produk dari atribut data
            var hostname = "https://localhost:7033/";
            var url = hostname + "GetPhotoProduk?id=" + productId;
            var method = "GET";

            // Ajax request untuk mendapatkan foto produk berdasarkan id_produk
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    // Jika panggilan berhasil, data akan berisi daftar foto produk
                    var fotoProduk = data;

                    // Kosongkan konten sebelum menambahkan data baru
                    $("#showFotoProduct").empty();

                    // Perulangan untuk menampilkan path_foto_produk ke dalam modal pop-up
                    $.each(fotoProduk, function (index, foto) {
                        // Tambahkan data path_foto_produk ke dalam elemen div di dalam modal pop-up
                        var fotoHtml = '<div class="foto-item">' +
                            '<p>Photo Produk ' + (index + 1) + '</p>' +
                            '<img src="/assets/img/' + foto.path_foto_produk + '" alt="Foto Produk" width="70" height="70">' +
                            '</div>';
                        $("#showFotoProduct").append(fotoHtml);
                    });

                    // Tampilkan modal pop-up setelah mendapatkan dan menambahkan foto produk
                    $('#showPhotoProductModal').modal('show');
                },
                error: function (xhr, status, error) {
                    // Tangani kesalahan jika panggilan gagal
                    console.error(error);
                }
            });
        });
    });



    $('.addProduct').click(function () {
        $("#addProductModal").modal("show");
    });

    //End Products DOM JQUERY


    // Start Fasilitas DOM JQUERY

    function loadFasilitas() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllFasilitas";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var fasilitasList = data;
                if (Array.isArray(fasilitasList)) {
                    fasilitasList.forEach(function (fasilitas, index) {
                        var newRow = '<tr>' +
                            '<td>' + (index + 1) + '</td>' +
                            '<td>' + fasilitas.nama_fasilitas + '</td>' +
                            '<td>' + fasilitas.jenis_fasilitas + '</td>' +
                            '<td>' + fasilitas.deskripsi_fasilitas + '</td>' +
                            '<td>' +
                            '<button class="btn btn-success showPhotoFasilitas" data-id_fasilitas="' + fasilitas.id_fasilitas + '"><i class="fa-regular fa-image"></i></button>' +
                            '<button class="btn btn-primary editFasilitas" data-id_fasilitas="' + fasilitas.id_fasilitas + '"><i class="fas fa-edit"></i></button>' +
                            '<button class="btn btn-danger" value="' + fasilitas.id_fasilitas + '" onclick="hapusFasilitas(this.value)"><i class="fas fa-trash"></i></button>' +
                            '</td>' +
                            '</tr>';

                        $('#tbodyFasilitas').append(newRow);

                        // Event listener untuk tombol edit
                        $('.editFasilitas[data-id_fasilitas="' + fasilitas.id_fasilitas + '"]').click(function () {
                            var id_fasilitas = $(this).data("id_fasilitas");
                            loadEditFasilitas(id_fasilitas);
                        });
                    });
                } else {
                    console.error("Format data tidak valid");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }

    // Fungsi untuk menyimpan mesin baru
    function simpanFasilitas() {
        var nama_fasilitas = document.getElementById("nama_fasilitas").value;
        var jenis_fasilitas = document.getElementById("jenis_fasilitas").value;
        var deskripsi_fasilitas = document.getElementById("deskripsi_fasilitas").value;
        var status = document.getElementById("status_fasilitas").value;

        var fotoPaths = [];

        var foto_1 = document.getElementById("photoFasilitas1").value;
        var foto_2 = document.getElementById("photoFasilitas2").value;
        var foto_3 = document.getElementById("photoFasilitas3").value;
        var foto_4 = document.getElementById("photoFasilitas4").value;
        var foto_5 = document.getElementById("photoFasilitas5").value;

        // Menambahkan foto-foto yang tidak kosong ke dalam array fotoPaths
        if (foto_1.trim() !== '') {
            fotoPaths.push(foto_1);
        }
        if (foto_2.trim() !== '') {
            fotoPaths.push(foto_2);
        }
        if (foto_3.trim() !== '') {
            fotoPaths.push(foto_3);
        }
        if (foto_4.trim() !== '') {
            fotoPaths.push(foto_4);
        }
        if (foto_5.trim() !== '') {
            fotoPaths.push(foto_5);
        }

        // Ambil file untuk setiap input foto
var fotoArray = [
    document.getElementById("photoFasilitas1").files[0],
    document.getElementById("photoFasilitas2").files[0],
    document.getElementById("photoFasilitas3").files[0],
    document.getElementById("photoFasilitas4").files[0],
    document.getElementById("photoFasilitas5").files[0]
];

        if (foto1) {
            fotoArray.push(foto1);
        }
        if (foto2) {
            fotoArray.push(foto2);
        }
        if (foto3) {
            fotoArray.push(foto3);
        }
        if (foto4) {
            fotoArray.push(foto4);
        }
        if (foto5) {
            fotoArray.push(foto5);
        }

        var hostname = "https://localhost:7033/";
        var url = hostname + "InsertFasilitas";
        var method = "POST";

        // Data yang akan dikirim
        var fasilitasData = {
            nama_fasilitas: nama_fasilitas,
            jenis_fasilitas: jenis_fasilitas,
            deskripsi_fasilitas: deskripsi_fasilitas,
            status: status
        };

        // Mengirim permintaan AJAX untuk menyimpan data fasilitas
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            data: JSON.stringify(fasilitasData),
            success: function (data) {
                console.log("Data fasilitas berhasil disimpan:", data);
                uploadPhoto(fotoArray);
                sendPhotoFasilitas(fotoPaths);
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Tangani error
            }
        });
    }

    function sendPhotoFasilitas(photoPaths) {
        var hostname = 'https://localhost:7033/'; // Ganti dengan URL untuk mengunggah foto
        var url = hostname + "SendPhotoFasilitas";

        var fotoFasilitasArray = [];

        photoPaths.forEach(function (photoPath) {
            var fotoFasilitas = {
                path_foto_fasilitas: photoPath,
                status: 1 // Atur status yang sesuai jika diperlukan
            };

            fotoFasilitasArray.push(fotoFasilitas);
        });
        console.log(fotoFasilitasArray)

        $.ajax({
            url: url,
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(fotoFasilitasArray),
            success: function (data) {
                console.log("Foto fasilitas berhasil diunggah:", data);
            },
            error: function (xhr, status, error) {
                console.error("Error uploading photo fasilitas:", error);
                // Handle error
            }
        });
    }


    // Fungsi untuk menghapus mesin berdasarkan ID
    function hapusFasilitas(id) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "DeleteFasilitas?id=" + id;
        var method = "POST";
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                location.reload(); // Memuat ulang halaman setelah menghapus
            },
        });
    }

    // Fungsi untuk memuat data fasilitas yang akan diubah ke dalam form edit
    function loadEditFasilitas(id_fasilitas) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetFasilitas?id=" + id_fasilitas;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var fasilitas = data;
                $('#editid_fasilitas').val(fasilitas.id_fasilitas);
                $('#editnama_fasilitas').val(fasilitas.nama_fasilitas);
                $('#editjenis_fasilitas').val(fasilitas.jenis_fasilitas);
                $('#editdeskripsi_fasilitas').val(fasilitas.deskripsi_fasilitas);
                $('#editstatus_fasilitas').val(fasilitas.status);

                // Menampilkan modal pop-up untuk edit
                $('#editFasilitasModal').modal('show');
            }
        });
    }

    // Fungsi untuk mengupdate fasilitas
    function updateFasilitas() {
        var id_fasilitas = document.getElementById("editid_fasilitas").value;
        var nama_fasilitas = document.getElementById("editnama_fasilitas").value;
        var jenis_fasilitas = document.getElementById("editjenis_fasilitas").value;
        var deskripsi_fasilitas = document.getElementById("editdeskripsi_fasilitas").value;
        var status = document.getElementById("editstatus_fasilitas").value;

        var hostname = "https://localhost:7033/";
        var url = hostname + "UpdateFasilitas";
        var method = "POST";
        var input = {
            id_fasilitas: id_fasilitas,
            nama_fasilitas: nama_fasilitas,
            jenis_fasilitas: jenis_fasilitas,
            deskripsi_fasilitas: deskripsi_fasilitas,
            status: status
        };

        $.ajax({
            url: url,
            method: method,
            data: JSON.stringify(input),
            contentType: "application/json",
            success: function (data) {
                console.log("Data fasilitas berhasil diperbarui:", data);
                $('#editFasilitasModal').modal('hide');
                location.reload(); // Opsional: Jika ingin memuat ulang halaman setelah update
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Tangani error
            }
        });
    }

    // Event listener untuk tombol "Tambah Fasilitas"
    $('.addFasilitas').click(function () {
        $("#addFasilitasModal").modal("show");
    });


    $(document).ready(function () {
        // Event listener untuk menampilkan foto fasilitas ketika tombol showFotoFasilitas ditekan
        $(document).on('click', '.showPhotoFasilitas', function () {
            var fasilitasId = $(this).data('id_fasilitas'); // Mendapatkan id_fasilitas dari atribut data
            var hostname = "https://localhost:7033/";
            var url = hostname + "GetPhotoFasilitas?id=" + fasilitasId;
            var method = "GET";

            // Ajax request untuk mendapatkan foto fasilitas berdasarkan id_fasilitas
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    // Jika panggilan berhasil, data akan berisi daftar foto fasilitas
                    var fotoFasilitas = data;

                    // Kosongkan konten sebelum menambahkan data baru
                    $("#showFotoFasilitas").empty();

                    // Perulangan untuk menampilkan path_foto_fasilitas ke dalam modal pop-up
                    $.each(fotoFasilitas, function (index, foto) {
                        // Tambahkan data path_foto_fasilitas ke dalam elemen div di dalam modal pop-up
                        var fotoHtml = '<div class="foto-item">' +
                            '<p>Photo Fasilitas ' + (index + 1) + '</p>' +
                            '<img src="/assets/img/' + foto.path_foto_fasilitas + '" alt="Foto Fasilitas" width="70" height="70">' +
                            '</div>';
                        $("#showFotoFasilitas").append(fotoHtml);
                    });

                    // Tampilkan modal pop-up setelah mendapatkan dan menambahkan foto fasilitas
                    $('#showPhotoFasilitasModal').modal('show');
                },
                error: function (xhr, status, error) {
                    // Tangani kesalahan jika panggilan gagal
                    console.error(error);
                }
            });
        });
    });

    //End Fasilitas DOM JQUERY

    //Start Pelatihan DOM JQUERY
    function loadPelatihan() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllPelatihan";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var pelatihanList = data;
                if (Array.isArray(pelatihanList)) {
                    pelatihanList.forEach(function (pelatihan, index) {
                        // Konversi tanggal_pelatihan ke objek Date
                        var tanggalPelatihan1 = new Date(pelatihan.tanggal_pelatihan_awal);
                        var tanggalPelatihan2 = new Date(pelatihan.tanggal_pelatihan_akhir);
                        tanggalPelatihan1.setDate(tanggalPelatihan1.getDate() + 1);
                                                tanggalPelatihan2.setDate(tanggalPelatihan2.getDate() + 1);
                        // Konversi tanggal ke format yang diinginkan
                        var tanggalAwalFinal = tanggalPelatihan1.toISOString().split('T')[0];
                        var tanggalAkhirFinal = tanggalPelatihan2.toISOString().split('T')[0];

                        var newRow = '<tr>' +
                            '<td>' + (index + 1) + '</td>' +
                            '<td>' + pelatihan.nama_pelatihan + '</td>' +
                            '<td>' + tanggalAwalFinal + '</td>' +
                            '<td>' + tanggalAkhirFinal + '</td>' +
                            '<td>' + pelatihan.jenis_pelatihan + '</td>' +
                            '<td>' + pelatihan.deskripsi_pelatihan + '</td>' +
                            '<td>' +
                            '<button class="btn btn-success showPhotoPelatihan" data-id_pelatihan="' + pelatihan.id_pelatihan + '"><i class="fa-regular fa-image"></i></button>' +
                            '<button class="btn btn-primary editPelatihan" data-id_pelatihan="' + pelatihan.id_pelatihan + '"><i class="fas fa-edit"></i></button>' +
                            '<button class="btn btn-danger" value="' + pelatihan.id_pelatihan + '" onclick="hapusPelatihan(this.value)"><i class="fas fa-trash"></i></button>' +
                            '</td>' +
                            '</tr>';

                        $('#tbodyTraining').append(newRow);

                        // Event listener untuk tombol edit
                        $('.editPelatihan[data-id_pelatihan="' + pelatihan.id_pelatihan + '"]').click(function () {
                                    $('.form-group-edited').remove();
                            var id_pelatihan = $(this).data("id_pelatihan");
                            loadEditPelatihan(id_pelatihan);
                        });
                    });
                } else {
                    console.error("Format data tidak valid");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }






    function simpanPelatihan() {
        var nama_pelatihan = document.getElementById("nama_pelatihan").value;
        var tanggal_pelatihan_awal = document.getElementById("tanggal_pelatihan_awal").value;
        var tanggal_pelatihan_akhir = document.getElementById("tanggal_pelatihan_akhir").value;
        var jenis_pelatihan = document.getElementById("jenis_pelatihan").value;
        var deskripsi_pelatihan = document.getElementById("deskripsi_pelatihan").value;
        var status = document.getElementById("status_pelatihan").value;

        var id_pengajar = document.getElementById("id_pengajar").value;

        var pengajarArray = [];
        pengajarArray.push(id_pengajar);
        $('.form-group-added').each(function (index, row) {
            var id_pengajar_clone = $(row).find('select').val();

            // Check if id_pengajar_clone is not undefined or null before adding to array
            if (id_pengajar_clone !== undefined && id_pengajar_clone !== null) {

                    var rowData = id_pengajar_clone
                    // Anda juga dapat menambahkan data lain ke dalam rowData sesuai kebutuhan


                pengajarArray.push(rowData); // Menambahkan data ke dalam array
            }
        });

        console.log(pengajarArray);
        alert('check')

        var fotoPaths = [];

        var foto_1 = document.getElementById("photoPelatihan1").value;
        var foto_2 = document.getElementById("photoPelatihan2").value;
        var foto_3 = document.getElementById("photoPelatihan3").value;
        var foto_4 = document.getElementById("photoPelatihan4").value;
        var foto_5 = document.getElementById("photoPelatihan5").value;

        // Menambahkan foto-foto yang tidak kosong ke dalam array fotoPaths
        if (foto_1.trim() !== '') {
            fotoPaths.push(foto_1);
        }
        if (foto_2.trim() !== '') {
            fotoPaths.push(foto_2);
        }
        if (foto_3.trim() !== '') {
            fotoPaths.push(foto_3);
        }
        if (foto_4.trim() !== '') {
            fotoPaths.push(foto_4);
        }
        if (foto_5.trim() !== '') {
            fotoPaths.push(foto_5);
        }

        // Ambil file untuk setiap input foto
        var fotoPelatihanArray = [];

        // Mengumpulkan file foto dalam array jika tidak kosong
        if (document.getElementById("photoPelatihan1").files.length > 0) {
            fotoPelatihanArray.push(document.getElementById("photoPelatihan1").files[0]);
        }
        if (document.getElementById("photoPelatihan2").files.length > 0) {
            fotoPelatihanArray.push(document.getElementById("photoPelatihan2").files[0]);
        }
        if (document.getElementById("photoPelatihan3").files.length > 0) {
            fotoPelatihanArray.push(document.getElementById("photoPelatihan3").files[0]);
        }
        if (document.getElementById("photoPelatihan4").files.length > 0) {
            fotoPelatihanArray.push(document.getElementById("photoPelatihan4").files[0]);
        }
        if (document.getElementById("photoPelatihan5").files.length > 0) {
            fotoPelatihanArray.push(document.getElementById("photoPelatihan5").files[0]);
        }

        var hostname = "https://localhost:7033/";
        var url = hostname + "InsertPelatihan";
        var method = "POST";

        // Data yang akan dikirim
        var pelatihanData = {
            nama_pelatihan: nama_pelatihan,
            tanggal_pelatihan_awal: tanggal_pelatihan_awal,
            tanggal_pelatihan_akhir: tanggal_pelatihan_akhir,
            jenis_pelatihan: jenis_pelatihan,
            deskripsi_pelatihan: deskripsi_pelatihan,
            status: status
        };

        // Mengirim permintaan AJAX untuk menyimpan data pelatihan
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            data: JSON.stringify(pelatihanData),
            success: function (data) {
                console.log("Data pelatihan berhasil disimpan:", data);
                uploadPhoto(fotoPelatihanArray);
                sendPhotoPelatihan(fotoPaths);
                detailPengajarPelatihan(pengajarArray);
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Tangani error
            }
        });
    }

    function sendPhotoPelatihan(photoPaths) {
        var hostname = 'https://localhost:7033/'; // Ganti dengan URL untuk mengunggah foto
        var url = hostname + "SendPhotoPelatihan";

        var fotoPelatihanArray = [];

        photoPaths.forEach(function (photoPath) {
            var fotoPelatihan = {
                path_foto_pelatihan: photoPath,
                status: 1 // Atur status yang sesuai jika diperlukan
            };

            fotoPelatihanArray.push(fotoPelatihan);
        });

        $.ajax({
            url: url,
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(fotoPelatihanArray),
            success: function (data) {
                console.log("Foto pelatihan berhasil diunggah:", data);
            },
            error: function (xhr, status, error) {
                alert('error add foto')
                console.error("Error uploading photo pelatihan:", error);
                // Handle error
            }
        });
    }

    function detailPengajarPelatihan(pengajarArray) {
    var hostname = 'https://localhost:7033/';
        var url = hostname + "InsertPengajarPelatihan";
    var dataDropdown = [];

    // Mengambil nilai dari setiap dropdown yang ditambahkan
    pengajarArray.forEach(function (pengajar) {
        var pengajarId = {
            id_pengajar: pengajar
        };
        dataDropdown.push(pengajarId);
    });

    console.log(dataDropdown);
    
    $.ajax({
        url: url,
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(dataDropdown),
        success: function (response) {
            // Handle response dari server jika diperlukan
            console.log('Data berhasil dikirim ke database', response);
        },
        error: function (xhr, status, error) {
            // Tangani kesalahan jika ada
            console.error('Terjadi kesalahan:', error);
        }
    });
}

    function hapusPelatihan(id) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "DeletePelatihan?id=" + id;
        var method = "POST";
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                location.reload(); // Memuat ulang halaman setelah menghapus
            },
        });
    }

    function loadEditPelatihan(id_pelatihan) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetPelatihan?id=" + id_pelatihan;
        var method = "GET";
        loadEditPengajarPelatihan(id_pelatihan);
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var pelatihan = data;
                $('#editid_pelatihan').val(pelatihan.id_pelatihan);
                $('#editnama_pelatihan').val(pelatihan.nama_pelatihan);
                var date1 = new Date(pelatihan.tanggal_pelatihan_awal);
                date1.setDate(date1.getDate() + 1);
                var formattedDate1 = date1.toISOString().split('T')[0];
                var date2 = new Date(pelatihan.tanggal_pelatihan_akhir);
                date2.setDate(date2.getDate() + 1);
                var formattedDate2 = date2.toISOString().split('T')[0];
                $('#edittanggal_pelatihan_awal').val(formattedDate1);
                $('#edittanggal_pelatihan_akhir').val(formattedDate2);
                $('#editjenis_pelatihan').val(pelatihan.jenis_pelatihan);
                $('#editdeskripsi_pelatihan').val(pelatihan.deskripsi_pelatihan);
                $('#editstatus_pelatihan').val(pelatihan.status);
                // Menampilkan modal pop-up untuk edit
                $('#editPelatihanModal').modal('show');
            }
        });
    }

    function loadEditPengajarPelatihan(id_pelatihan) {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetPengajarPelatihan?id=" + id_pelatihan;
        var method = "GET";

        // Assuming populateEditFacultyMembersinPelatihan is a function that sets up the initial state
        populateEditFacultyMembersinPelatihan();

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var pengajarList = data;

                // Clear the content inside the span
                $('#editid_pengajar').empty();

                // Assuming 'fotoPelatihan' is a variable that should be 'pengajarList'
                $.each(pengajarList, function (index, pengajarItem) {
                    // Assuming 'fotoHtml' is a variable that should be 'optionHtml'
                    var spanContent = (index + 1) + '. ' + '<span data-value="' + pengajarItem.id_pengajar + '">' + pengajarItem.nama_pengajar + '</span><br/>';

                    // Append the span content
                    $('#editid_pengajar').append(spanContent);
                });
            }
        });
    }



    function updatePelatihan() {
        var id_pelatihan = document.getElementById("editid_pelatihan").value;
        var nama_pelatihan = document.getElementById("editnama_pelatihan").value;
        var tanggal_pelatihan_awal = document.getElementById("edittanggal_pelatihan_awal").value;
        var tanggal_pelatihan_akhir = document.getElementById("edittanggal_pelatihan_akhir").value;
        var jenis_pelatihan = document.getElementById("editjenis_pelatihan").value;
        var deskripsi_pelatihan = document.getElementById("editdeskripsi_pelatihan").value;
        var status = document.getElementById("editstatus_pelatihan").value;

        var hostname = "https://localhost:7033/";
        var url = hostname + "UpdatePelatihan";
        var method = "POST";
        var input = {
            id_pelatihan: id_pelatihan,
            nama_pelatihan: nama_pelatihan,
            tanggal_pelatihan_awal: tanggal_pelatihan_awal,
            tanggal_pelatihan_akhir: tanggal_pelatihan_akhir,
            jenis_pelatihan: jenis_pelatihan,
            deskripsi_pelatihan: deskripsi_pelatihan,
            status: status
        };

        $.ajax({
            url: url,
            method: method,
            data: JSON.stringify(input),
            contentType: "application/json",
            success: function (data) {
                console.log("Data pelatihan berhasil diperbarui:", data);
                $('#editPelatihanModal').modal('hide');
                location.reload(); // Opsional: Jika ingin memuat ulang halaman setelah update
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Tangani error
            }
        });
    }

    $('.addPelatihan').click(function () {
        $('.form-group-added').remove();
        $("#addPelatihanModal").modal("show");
    });
    $(document).ready(function () {
        // Event listener untuk menampilkan foto Pelatihan ketika tombol showPhotoPelatihan ditekan
        $(document).on('click', '.showPhotoPelatihan', function () {
            var pelatihanId = $(this).data('id_pelatihan'); // Mendapatkan id_pelatihan dari atribut data
            var hostname = "https://localhost:7033/";
            var url = hostname + "GetPhotoPelatihan?id=" + pelatihanId;
            var method = "GET";

            // Ajax request untuk mendapatkan foto Pelatihan berdasarkan id_pelatihan
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    // Jika panggilan berhasil, data akan berisi daftar foto Pelatihan
                    var fotoPelatihan = data;

                    // Kosongkan konten sebelum menambahkan data baru
                    $("#showFotoPelatihan").empty();

                    // Perulangan untuk menampilkan path_foto_pelatihan ke dalam modal pop-up
                    $.each(fotoPelatihan, function (index, foto) {
                        // Tambahkan data path_foto_pelatihan ke dalam elemen div di dalam modal pop-up
                        var fotoHtml = '<div class="foto-item">' +
                            '<p>Photo Pelatihan ' + (index + 1) + '</p>' +
                            '<img src="/assets/img/' + foto.path_foto_pelatihan + '" alt="Foto Pelatihan" width="70" height="70">' +
                            '</div>';
                        $("#showFotoPelatihan").append(fotoHtml);
                    });

                    // Tampilkan modal pop-up setelah mendapatkan dan menambahkan foto Pelatihan
                    $('#showPhotoPelatihanModal').modal('show');
                },
                error: function (xhr, status, error) {
                    // Tangani kesalahan jika panggilan gagal
                    console.error(error);
                }
            });
        });
    });


    function populateFacultyMembers() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllFacultyMembers"; // Ganti dengan URL endpoint yang sesuai

        $.ajax({
            url: url,
            method: "GET",
            contentType: "application/json",
            success: function (data) {
                var facultyMembers = data.data;

                // Mendapatkan elemen dropdown list
                var dropdown = $('#id_pengajar');

                // Menghapus semua opsi sebelum menambahkan opsi yang baru
                dropdown.empty();

                // Menambahkan opsi default
                dropdown.append($('<option></option>').text('Select Faculty Member'));

                // Menambahkan daftar FacultyMember ke dalam dropdown list
                facultyMembers.forEach(function (pengajar) {
                    dropdown.append($('<option></option>').attr('value', pengajar.id_pengajar).text(pengajar.nama_pengajar));

                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching FacultyMembers:", error);
                // Tangani error jika ada
            }
        });
    }

        function populateEditFacultyMembersinPelatihan() {
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetAllFacultyMembers"; // Ganti dengan URL endpoint yang sesuai

        $.ajax({
            url: url,
            method: "GET",
            contentType: "application/json",
            success: function (data) {
                var facultyMembers = data.data;

                // Mendapatkan elemen dropdown list
                var dropdown = $('#editid_pengajar');

                // Menghapus semua opsi sebelum menambahkan opsi yang baru
                dropdown.empty();

                // Menambahkan opsi default
                dropdown.append($('<option></option>').text('Select Faculty Member'));

                // Menambahkan daftar FacultyMember ke dalam dropdown list
                facultyMembers.forEach(function (pengajar) {
                    dropdown.append($('<option></option>').attr('value', pengajar.id_pengajar).text(pengajar.nama_pengajar));
                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching FacultyMembers:", error);
                // Tangani error jika ada
            }
        });
    }

    // Panggil fungsi untuk mengisi dropdown list saat halaman dimuat
        populateFacultyMembers();
        populateEditFacultyMembersinPelatihan();

    function tambahDropdownadd() {
        var dropdownClone = $('#id_pengajar').clone(); // Clone dropdown
        dropdownClone.removeAttr('id'); // Hapus atribut 'id' dari dropdown clone

        // Tambahkan dropdown clone beserta tombol hapusnya
        $('#form-group-add').last().after(
            `<div class="form-group-added row mb-3">
                    <div class="col-sm-10">
                        ${dropdownClone[0].outerHTML}
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" onclick="hapusDropdownadd(this)">Delete</button>
                    </div>
                </div>`
        );
    }

    function hapusDropdownadd(btn) {
        $(btn).closest('.form-group-added').remove(); // Hapus dropdown terkait dengan tombol hapus yang ditekan
    }




    //End Pelatihan DOM JQUERY


    // Buttons

    $('.ourProducts').click(function () {
        $('.tableTraining').hide();
        $('.tableFacilities').hide();
        $('.tableProduct').show(); 
    });


    $('.training').click(function () {
        $('.tableTraining').show(); 
        $('.tableProduct').hide();
        $('.tableFacilities').hide();
    });

    $('.fasilitas').click(function () {
        $('.tableFacilities').show();
        $('.tableProduct').hide();
        $('.tableTraining').hide(); 
    });
</script>


@*Modal Product*@
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Add New Product</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Please Fill it in Correctly!</h5>
                                <hr />
                                <br />

                                <!-- General Form Elements -->
                                <div class="row mb-3">
                                    <label for="nama_produk" class="col-sm-2 col-form-label">Product Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="nama_produk" id="nama_produk">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="tipe_produk" class="col-sm-2 col-form-label">Product Type</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="tipe_produk" id="tipe_produk">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="pesanan" class="col-sm-2 col-form-label">Ordered by</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="pesanan" id="pesanan">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="deskripsi_produk" class="col-sm-2 col-form-label">Product Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="deskripsi_produk" id="deskripsi_produk" rows="5"></textarea>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row mb-6">
                                    <label class="col-sm-6 col-form-label">Add Product's Photo (Min 1, Max size each photo 5 MB)</label>
                                </div>
                                <br/>
                                <div class="row mb-3">
                                    <label for="addphoto1" class="col-sm-2 col-form-label">Add Photo 1</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="addphoto1" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="addphoto2" class="col-sm-2 col-form-label">Add Photo 2</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="addphoto2">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="addphoto3" class="col-sm-2 col-form-label">Add Photo 3</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="addphoto3">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="addphoto4" class="col-sm-2 col-form-label">Add Photo 4</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="addphoto4">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="addphoto4" class="col-sm-2 col-form-label">Add Photo 5</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="addphoto5">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <input class="form-control" id="status" name="status" value="1" hidden />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger" onclick="cancelProduk()">Cancel</button>
                                        <button type="submit" class="btn btn-primary" onclick="simpanProduk()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="editProductModalLabel" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Edit Product</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Please Fill it in Correctly!</h5>
                                <hr />
                                <br />

                                <input type="text" class="form-control" id="editid_produk" hidden>
                                <div class="row mb-3">
                                    <label for="editnama_produk" class="col-sm-2 col-form-label">Product Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="editnama_produk" placeholder="Product Name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="edittipe_produk" class="col-sm-2 col-form-label">Product Type</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="edittipe_produk" placeholder="Product Type">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="editpesanan" class="col-sm-2 col-form-label">Ordered by</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="editpesanan" placeholder="Ordered by">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="editdeskripsi_produk" class="col-sm-2 col-form-label">Product Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="editdeskripsi_produk" rows="5" placeholder="Product Description"></textarea>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <input class="form-control" id="editstatus_produk" name="editstatus_produk" value="1" hidden />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary" onclick="updateProduct()">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="showPhotoProductModal" tabindex="-1" role="dialog" aria-labelledby="showPhotoProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="showPhotoProductModalLabel" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Photo Product</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <br/>

                                <div id="showFotoProduct">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@*Modal Product*@




@*Modal Facility*@
<div class="modal fade" id="addFasilitasModal" tabindex="-1" role="dialog" aria-labelledby="addFasilitas" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Add New Facility</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Please Fill it in Correctly!</h5>
                                <hr />
                                <br />

                                <!-- General Form Elements -->
                                <div class="row mb-3">
                                    <label for="nama_fasilitas" class="col-sm-2 col-form-label">Facility Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="nama_fasilitas" id="nama_fasilitas">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="jenis_fasilitas" class="col-sm-2 col-form-label">Facility Type</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="jenis_fasilitas" id="jenis_fasilitas">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="deskripsi_fasilitas" class="col-sm-2 col-form-label">Facility Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="deskripsi_fasilitas" id="deskripsi_fasilitas" rows="5"></textarea>
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-6">
                                    <label class="col-sm-6 col-form-label">Add Facility's Photo (Min 1, Max size each photo 5 MB)</label>
                                </div>
                                <br />
                                <div class="row mb-3">
                                    <label for="photoFasilitas1" class="col-sm-2 col-form-label">Add Photo 1</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoFasilitas1" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="photoFasilitas2" class="col-sm-2 col-form-label">Add Photo 2</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoFasilitas2">
                                    </div>
                                </div>
                                <!-- Tambahkan input untuk foto-foto yang lain sesuai kebutuhan -->
                                <div class="row mb-3">
                                    <label for="photoFasilitas3" class="col-sm-2 col-form-label">Add Photo 3</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoFasilitas3">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="photoFasilitas4" class="col-sm-2 col-form-label">Add Photo 4</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoFasilitas4">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="photoFasilitas5" class="col-sm-2 col-form-label">Add Photo 5</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoFasilitas5">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <input class="form-control" id="status_fasilitas" name="status_fasilitas" value=1 hidden />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger" onclick="cancelFasilitas()">Cancel</button>
                                        <button type="submit" class="btn btn-primary" onclick="simpanFasilitas()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="editFasilitasModal" tabindex="-1" role="dialog" aria-labelledby="editFasilitasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="editFasilitasModalLabel" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Edit Facility</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Please Fill it in Correctly!</h5>
                                <hr />
                                <br />

                                <input type="text" class="form-control" id="editid_fasilitas" hidden>
                                <div class="row mb-3">
                                    <label for="editnama_fasilitas" class="col-sm-2 col-form-label">Facility Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="editnama_fasilitas" placeholder="Facility Name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="editjenis_fasilitas" class="col-sm-2 col-form-label">Facility Type</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="editjenis_fasilitas" placeholder="Facility Type">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="editdeskripsi_fasilitas" class="col-sm-2 col-form-label">Facility Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="editdeskripsi_fasilitas" rows="5" placeholder="Facility Description"></textarea>
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <input class="form-control" id="editstatus_fasilitas" name="editstatus_fasilitas" value="1" hidden />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary" onclick="updateFasilitas()">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="showPhotoFasilitasModal" tabindex="-1" role="dialog" aria-labelledby="showPhotoFasilitasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="showPhotoFasilitasModalLabel" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Photo Facility</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <br />
                                <div id="showFotoFasilitas">
                                    <!-- Konten foto fasilitas akan ditampilkan di sini -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@*Modal Facility*@


@*Modal Training*@
<div class="modal fade" id="addPelatihanModal" tabindex="-1" role="dialog" aria-labelledby="addPelatihan" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Add New Training</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Please Fill it in Correctly!</h5>
                                <hr />
                                <br />

                                <!-- General Form Elements -->
                                <div class="row mb-3">
                                    <label for="nama_pelatihan" class="col-sm-2 col-form-label">Training Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="nama_pelatihan" id="nama_pelatihan">
                                    </div>
                                </div>

                                <!-- Tambahkan input untuk tanggal_pelatihan -->
                                <div class="form-group row mb-6">
                                    <label for="tanggal_pelatihan_awal" class="col-sm-2 col-form-label">Training Start Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" name="tanggal_pelatihan_awal" id="tanggal_pelatihan_awal">
                                    </div>
                                     <label for="tanggal_pelatihan_awal" class="col-sm-2 col-form-label">Training End Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" name="tanggal_pelatihan_akhir" id="tanggal_pelatihan_akhir">
                                    </div>
                                </div>

                                <!-- Tambahkan input untuk durasi_pelatihan -->
                                <div class="row mb-3">

                                </div>

                                <!-- Tambahkan input untuk jenis_pelatihan -->
                                <div class="row mb-3">
                                    <label for="jenis_pelatihan" class="col-sm-2 col-form-label">Training Type</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" name="jenis_pelatihan" id="jenis_pelatihan">
                                            <option>Select Training Type</option>
                                            <option value="Automotive Advance Technology">Automotive Advance Technology</option>
                                            <option value="Civil & Construction">Civil & Construction</option>
                                            <option value="Design">Design</option>
                                            <option value="Electrical & Automation">Electrical & Automation</option>
                                            <option value="Heavy Equipment">Heavy Equipment</option>
                                            <option value="Information Technology">Information Technology</option>
                                            <option value="Lean Manufacturing">Lean Manufacturing</option>
                                            <option value="Machining">Machining</option>
                                            <option value="Maintenance">Maintenance</option>
                                            <option value="Mechatronics">Mechatronics</option>
                                            <option value="Quality Control">Quality Control</option>
                                            <option value="Supply Chains Manufacturing and Certification">Supply Chains Manufacturing and Certification</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Tambahkan input untuk deskripsi_pelatihan -->
                                <div class="row mb-3">
                                    <label for="deskripsi_pelatihan" class="col-sm-2 col-form-label">Training Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="deskripsi_pelatihan" id="deskripsi_pelatihan" rows="5"></textarea>
                                    </div>
                                </div>
                                <hr />
                                <br />
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success" onclick="tambahDropdownadd()">+ Add More</button>
                                </div>
                                <div class="form-group row mb-3" id="form-group-add">
                                    <label for="faculty_member" class="col-sm-6 col-form-label">Add Faculty Member for Training (Make sure add it correctly!)</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" name="id_pengajar" id="id_pengajar">
                                            <!-- Opsi Dropdown -->
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <hr />
                                <div class="row mb-6">
                                    <label class="col-sm-6 col-form-label">Add Training's Photo (Min 1, Max size each photo 5 MB)</label>
                                </div>
                                                                <br />
                                <div class="row mb-3">
                                    <label for="photoPelatihan1" class="col-sm-2 col-form-label">Add Photo 1</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoPelatihan1">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="photoPelatihan2" class="col-sm-2 col-form-label">Add Photo 2</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoPelatihan2">
                                    </div>
                                </div>
                                <!-- Tambahkan input untuk foto-foto yang lain sesuai kebutuhan -->
                                <div class="row mb-3">
                                    <label for="photoPelatihan3" class="col-sm-2 col-form-label">Add Photo 3</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoPelatihan3">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="photoPelatihan4" class="col-sm-2 col-form-label">Add Photo 4</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoPelatihan4">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="photoPelatihan5" class="col-sm-2 col-form-label">Add Photo 5</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="photoPelatihan5">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <input class="form-control" id="status_pelatihan" name="status_pelatihan" value=1 hidden>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger" onclick="cancelPelatihan()">Cancel</button>
                                        <button type="submit" class="btn btn-primary" onclick="simpanPelatihan()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editPelatihanModal" tabindex="-1" role="dialog" aria-labelledby="editPelatihanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="editPelatihanModalLabel" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Edit Training</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Please Fill it in Correctly!</h5>
                                <hr />
                                <br />

                                <input type="text" class="form-control" id="editid_pelatihan" hidden>
                                <div class="row mb-3">
                                    <label for="editnama_pelatihan" class="col-sm-2 col-form-label">Training Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="editnama_pelatihan" placeholder="Training Name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="edittanggal_pelatihan_awal" class="col-sm-2 col-form-label">Training Start Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="edittanggal_pelatihan_awal">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="edittanggal_pelatihan_akhir" class="col-sm-2 col-form-label">Training End Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="edittanggal_pelatihan_akhir">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="editjenis_pelatihan" class="col-sm-2 col-form-label">Training Type</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" name="editjenis_pelatihan" id="editjenis_pelatihan">
                                            <option>Select Training Type</option>
                                            <option value="Automotive Advance Technology">Automotive Advance Technology</option>
                                            <option value="Civil & Construction">Civil & Construction</option>
                                            <option value="Design">Design</option>
                                            <option value="Electrical & Automation">Electrical & Automation</option>
                                            <option value="Heavy Equipment">Heavy Equipment</option>
                                            <option value="Information Technology">Information Technology</option>
                                            <option value="Lean Manufacturing">Lean Manufacturing</option>
                                            <option value="Machining">Machining</option>
                                            <option value="Maintenance">Maintenance</option>
                                            <option value="Mechatronics">Mechatronics</option>
                                            <option value="Quality Control">Quality Control</option>
                                            <option value="Supply Chains Manufacturing and Certification">Supply Chains Manufacturing and Certification</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="editdeskripsi_pelatihan" class="col-sm-2 col-form-label">Training Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="editdeskripsi_pelatihan" rows="5" placeholder="Training Description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="editid_pengajar" class="col-sm-6 col-form-label">Faculty Member for Training (Uneditable)</label>
                                    <div class="col-sm-10">
                                        <span id="editid_pengajar">

                                        </span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <input class="form-control" id="editstatus_pelatihan" name="editstatus_pelatihan" value=1 hidden />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary" onclick="updatePelatihan()">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showPhotoPelatihanModal" tabindex="-1" role="dialog" aria-labelledby="showPhotoPelatihanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="showPhotoPelatihanModalLabel" style="font-size: 28px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Training Photos</h1>
            </div>
            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <br />
                                <div id="showFotoPelatihan">
                                    <!-- Konten foto pelatihan akan ditampilkan di sini -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@*Modal Training*@